* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; min-width: 1030px; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body, html { height: 100%; }

a img, fieldset { border: none; }

input, textarea, select, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"], button { cursor: pointer; }

a { color: #1a5ca7; }
a:hover { text-decoration: none; }

.clr { clear: both; }

.title-l-1 { margin-bottom: 10px; font-size: 56px; font-weight: normal; color: #40454c; border-bottom: 1px solid #b3b3b3; font-family: Tahoma, Arial, Helvetica, sans-serif; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(75%, #ffffff), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(top, #ffffff 75%, #ebebeb 100%); background-image: -moz-linear-gradient(top, #ffffff 75%, #ebebeb 100%); background-image: -o-linear-gradient(top, #ffffff 75%, #ebebeb 100%); background-image: -ms-linear-gradient(top, #ffffff 75%, #ebebeb 100%); background-image: linear-gradient(top, #ffffff 75%, #ebebeb 100%); }
.title-l-1 a { font-size: 18px; color: #78838f; text-decoration: none; }
.title-l-1 span { display: block; margin-top: -20px; font-size: 30px; color: #000; }

.title-l-2 { padding-bottom: 4px; margin-top: 13px; border-bottom: 1px solid #78838f; font: bold 24px/1em Arial, Helvetica, sans-serif; }

.top-banner { height: 30px; background: #ccc; }

.top-bar { padding: 0 15px 0 15px; height: 32px; line-height: 32px; width: 1000px; background: #565D65; }

.top-bar_act { position: fixed; left: 50%; top: 0; z-index: 1000; margin-left: -515px; }

.top-bar__city { float: left; padding: 0 30px 0 20px; height: 32px; color: #fff; font: bold 14px/32px Tahoma, Arial, Helvetica, sans-serif; }

.top-bar__region { float: left; height: 32px; color: #c1cdd9; font-size: 11px; line-height: 11px; background: #40454C; text-decoration: none; }
.top-bar__region span, .top-bar__region i { display: inline-block; vertical-align: middle; }
.top-bar__region i { margin: 5px 3px 5px 5px; background: url('../img/icons-sc8c7b602da.png') 0 -506px no-repeat; width: 22px; height: 22px; }
.top-bar__region span { width: 120px; text-decoration: underline; }
.top-bar__region span:hover { text-decoration: none; }

.top-bar__enter { float: right; }

.header__banner { height: 90px; text-align: center; margin: 10px 0; }

.header__widgets { overflow: hidden; padding: 0 20px 0 4px; font-size: 13px; }
.header__widgets strong { display: block; color: #000; font-size: 16px; line-height: 14px; }

.header__logo { float: left; margin-right: 20px; width: 365px; height: 77px; background: url(../img/logo.png) 0 0 no-repeat; }
.header__logo:hover { opacity: 0.8; }

.today { float: left; padding-top: 12px; margin-right: 34px; font-size: 13px; color: #565d66; }

.weather { float: left; width: 100px; padding-top: 12px; color: #565d66; }

.weather_sun-cloud { background: url(../img/weather.png) 100% 6px no-repeat; }

.search { float: right; margin-top: 10px; padding: 5px; background: #f5f5f5; overflow: hidden; }

.search__text { float: left; margin-right: -2px; padding: 0 10px; width: 261px; height: 28px; border: 1px solid #bec5cd; border-right: 0; }

.search__submit { position: relative; float: right; width: 80px; height: 28px; line-height: 28px; color: #3f464c; font-size: 14px; border: 1px solid #bec5cd; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZDdkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #d6d7d9)); background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: -moz-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: -o-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: -ms-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); }
.search__submit:hover { background: #f5f7f8; }
.search__submit i { display: inline-block; margin-left: 6px; vertical-align: middle; background: url('../img/icons-sc8c7b602da.png') 0 -572px no-repeat; width: 16px; height: 16px; }
.search__submit input { position: absolute; opacity: 0; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; }

.header__links { padding: 0 20px; }

.header__mob-links { float: left; overflow: hidden; margin-right: 10px; }
.header__mob-links span { float: left; margin-right: 10px; font-size: 13px; color: #565d66; }
.header__mob-links a { float: left; margin-right: 10px; color: #000; font-size: 14px; font-weight: bold; text-transform: uppercase; text-decoration: none; }
.header__mob-links a:hover { color: #40454c; text-decoration: underline; }
.header__mob-links .mobile { padding: 0px 4px; border: 1px solid #bfc0c0; background: #f5f5f5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.header__mob-links .mobile:hover { text-decoration: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.weather-webcam { position: relative; float: left; width: 144px; height: 22px; line-height: 22px; border: 1px solid #bcc4cc; font-size: 12px; color: #565d66; text-decoration: none; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px; }
.weather-webcam:before { content: ""; position: absolute; top: -9px; left: 15px; background: url('../img/icons-sc8c7b602da.png') 0 -722px no-repeat; width: 10px; height: 9px; }
.weather-webcam i { display: inline-block; margin: 0 10px; background: url('../img/icons-sc8c7b602da.png') 0 -648px no-repeat; width: 13px; height: 9px; }

.header__soc { float: right; overflow: hidden; line-height: 24px; }
.header__soc span { float: left; margin-right: 15px; font-size: 12px; color: #989898; }
.header__soc .soc { margin-right: 3px; }

.nav-top { padding: 5px 20px 0; overflow: hidden; }
.nav-top li { float: left; margin-right: 8px; }
.nav-top a { color: #565d66; display: inline-block; font-size: 11px; padding: 0 4px; height: 22px; line-height: 22px; text-decoration: none; text-transform: uppercase; }
.nav-top a:hover { color: #78838f; text-decoration: underline; }
.nav-top .nav-top__photo, .nav-top .nav-top__video { border: 1px solid #d3dce6; background: #f5f5f5; margin-right: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.nav-top .nav-top__photo:hover, .nav-top .nav-top__video:hover { opacity: .8; }
.nav-top .nav-top__video { margin: 0 10px 0 3px; }
.nav-top i { margin-right: 7px; }

.nav-spec { padding: 11px 20px 0; overflow: hidden; }
.nav-spec li { float: left; margin-right: 1px; }
.nav-spec a { display: block; padding: 0 9px; height: 22px; line-height: 22px; text-decoration: none; color: #fff; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

.nav-spec__red { background: #bf1c0b; -webkit-box-shadow: inset 0px -3px 3px 0px #990802; -moz-box-shadow: inset 0px -3px 3px 0px #990802; box-shadow: inset 0px -3px 3px 0px #990802; }
.nav-spec__red:hover { background: #cc493c; }

.nav-spec__blue { background: #00769d; -webkit-box-shadow: inset 0px -3px 3px 0px #00446d; -moz-box-shadow: inset 0px -3px 3px 0px #00446d; box-shadow: inset 0px -3px 3px 0px #00446d; }
.nav-spec__blue:hover { background: #3391b1; }

.nav-spec__green { background: #197b30; -webkit-box-shadow: inset 0px -3px 3px 0px #084d18; -moz-box-shadow: inset 0px -3px 3px 0px #084d18; box-shadow: inset 0px -3px 3px 0px #084d18; }
.nav-spec__green:hover { background: #479559; }

.nav-spec__black { background: #40454c; -webkit-box-shadow: inset 0px -3px 3px 0px #0d0e0f; -moz-box-shadow: inset 0px -3px 3px 0px #0d0e0f; box-shadow: inset 0px -3px 3px 0px #0d0e0f; }
.nav-spec__black:hover { background: #666a70; }

.nav-spec__purple { background: #7100e5; -webkit-box-shadow: inset 0px -3px 3px 0px #4c009a; -moz-box-shadow: inset 0px -3px 3px 0px #4c009a; box-shadow: inset 0px -3px 3px 0px #4c009a; }
.nav-spec__purple:hover { background: #8d33ea; }

.nav-spec__azure { background: #009a91; -webkit-box-shadow: inset 0px -3px 3px 0px #006761; -moz-box-shadow: inset 0px -3px 3px 0px #006761; box-shadow: inset 0px -3px 3px 0px #006761; }
.nav-spec__azure:hover { background: #33aea7; }

.nav-spec__yellow { background: #eca60f; -webkit-box-shadow: inset 0px -3px 3px 0px #de7804; -moz-box-shadow: inset 0px -3px 3px 0px #de7804; box-shadow: inset 0px -3px 3px 0px #de7804; }
.nav-spec__yellow:hover { background: #f0b83f; }

.nav { padding-left: 20px; overflow: hidden; -webkit-box-shadow: inset 0px 7px 7px 0px #8d99a5; -moz-box-shadow: inset 0px 7px 7px 0px #8d99a5; box-shadow: inset 0px 7px 7px 0px #8d99a5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzc3ODM4ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcyN2U4YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #77838f), color-stop(100%, #727e8a)); background-image: -webkit-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: -moz-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: -o-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: -ms-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: linear-gradient(top, #77838f 5%, #727e8a 100%); }
.nav ul { list-style: none; }
.nav li { float: left; }
.nav li:first-child { border-left: 1px solid #55667a; }
.nav a { float: left; height: 30px; line-height: 30px; padding: 0 13px; color: #fff; text-decoration: none; font-size: 15px; border-right: 1px solid #55667a; border-left: 1px solid #a5b1bd; }
.nav a:hover { background: #838f9b; }
.nav a.active { color: #000; font-weight: bold; padding: 0 4px; }
.nav a.active span { background: #fff; -webkit-box-shadow: 3px 1px 3px #282c30; -moz-box-shadow: 3px 1px 3px #282c30; box-shadow: 3px 1px 3px #282c30; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; display: block; height: 27px; line-height: 22px; position: relative; top: 3px; padding: 0 9px; }

.btn { text-decoration: none; }

.btn_gray { display: inline-block; padding: 0 10px; height: 22px; line-height: 22px; color: #fff; font-size: 13px; border: 1px solid #4b5158; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhOTZhMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY2NzA3YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a96a2), color-stop(100%, #66707a)); background-image: -webkit-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: -moz-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: -o-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: -ms-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: linear-gradient(top, #8a96a2 0%, #66707a 100%); }
.btn_gray:hover { background: #8a96a2; }

.soc { float: left; }

.soc_ig { background: url('../img/icons-sc8c7b602da.png') 0 -296px no-repeat; width: 24px; height: 24px; }

.soc_gp { background: url('../img/icons-sc8c7b602da.png') 0 -389px no-repeat; width: 24px; height: 24px; }

.soc_fb { background: url('../img/icons-sc8c7b602da.png') 0 -741px no-repeat; width: 24px; height: 24px; }

.soc_odn { background: url('../img/icons-sc8c7b602da.png') 0 -688px no-repeat; width: 24px; height: 24px; }

.soc_tw { background: url('../img/icons-sc8c7b602da.png') 0 -538px no-repeat; width: 24px; height: 24px; }

.soc_vk { background: url('../img/icons-sc8c7b602da.png') 0 -775px no-repeat; width: 24px; height: 24px; }

.icon { display: inline-block; }

.icon_photo { background: url('../img/icons-sc8c7b602da.png') 0 -667px no-repeat; width: 12px; height: 11px; }

.icon_video { background: url('../img/icons-sc8c7b602da.png') 0 -626px no-repeat; width: 13px; height: 12px; }

.icon_fb { background: url('../img/icons-sc8c7b602da.png') 0 -152px no-repeat; width: 27px; height: 26px; }

.icon_odn { background: url('../img/icons-sc8c7b602da.png') 0 -188px no-repeat; width: 27px; height: 26px; }

.icon_tw { background: url('../img/icons-sc8c7b602da.png') 0 -260px no-repeat; width: 26px; height: 26px; }

.icon_vk { background: url('../img/icons-sc8c7b602da.png') 0 -224px no-repeat; width: 27px; height: 26px; }

.icon_arr2 { background: url('../img/icons-sc8c7b602da.png') 0 -462px no-repeat; width: 11px; height: 7px; }

.icon_reload { background: url('../img/icons-sc8c7b602da.png') 0 -423px no-repeat; width: 24px; height: 29px; }

.icon_play { background: url('../img/icons-sc8c7b602da.png') 0 -95px no-repeat; width: 48px; height: 47px; }

.icon_play-big { background: url('../img/icons-sc8c7b602da.png') 0 -330px no-repeat; width: 49px; height: 49px; }

.icon_home { background: url('../img/icons-sc8c7b602da.png') 0 -479px no-repeat; width: 19px; height: 17px; }

.pagin { padding: 10px; background: #f5f5f5; font-size: 12px; font-family: Tahoma,Arial,sans-serif; text-align: right; }
.pagin a, .pagin span { padding: 2px 5px; color: #637681; font-weight: bold; font-size: 11px; text-decoration: none; }
.pagin strong { display: block; margin-bottom: 3px; color: #858f9a; font-weight: normal; }
.pagin .active { color: #fff; background: #78838F; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5); box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5); }

.form { overflow: hidden; padding: 15px 18px 10px 20px; border: 1px solid #dadada; background: #f5f5f5; }

.form__left { float: left; width: 224px; }

.form__right { float: right; width: 390px; }

.input-text { margin-bottom: 9px; }
.input-text label { display: block; font-size: 12px; padding-bottom: 4px; }
.input-text label:before { content: "•"; padding-right: 5px; color: #d50028; font-family: Tahoma, Arial, sans-serif; }
.input-text input, .input-text textarea { border: 1px solid #7f7f7f; background: #fff; font-size: 14px; color: #000; width: 204px; padding: 4px 9px 5px 9px; -webkit-box-shadow: inset 3px 3px 5px #dfdfdf; -moz-box-shadow: inset 3px 3px 5px #dfdfdf; box-shadow: inset 3px 3px 5px #dfdfdf; font-family: Tahoma, Arial, sans-serif; }
.input-text input:focus, .input-text textarea:focus { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.input-text textarea { resize: vertical; width: 369px; min-height: 60px; }

.input-submit { width: 100%; height: 38px; color: #565d66; font-size: 22px; font-weight: bold; border: 1px solid #c8cbcd; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #ffffff), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -moz-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -o-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -ms-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: linear-gradient(top, #ffffff 30%, #dfdfdf 100%); }
.input-submit:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(50%, #ffffff)); background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -moz-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -o-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -ms-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: linear-gradient(top, #dfdfdf 0%, #ffffff 50%); }

.form__note { padding-top: 10px; font-size: 12px; color: #989898; font-family: Tahoma, Arial, sans-serif; }
.form__note span { color: #d50028; }

.captcha { margin-bottom: 14px; background: #fff; border: 1px solid #e1e1e1; padding: 6px 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.captcha * { display: inline-block; vertical-align: middle; }
.captcha .input-text { margin-bottom: 0; width: 106px; }
.captcha .input-text input { width: 86px; }

.captcha__note { width: 77px; }

.captcha__reload { margin: 0 7px; width: 43px; height: 43px; border: 1px solid #c8cbcd; text-align: center; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #ffffff), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -moz-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -o-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -ms-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: linear-gradient(top, #ffffff 30%, #dfdfdf 100%); }
.captcha__reload:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(50%, #ffffff)); background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -moz-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -o-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -ms-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: linear-gradient(top, #dfdfdf 0%, #ffffff 50%); }
.captcha__reload .icon { margin-top: 8px; }

.footer { position: relative; width: 1030px; margin: 0 auto; padding: 18px 0px 12px; overflow: hidden; font-size: 12px; -webkit-box-shadow: inset 0px 5px 6px 0px #40454c; -moz-box-shadow: inset 0px 5px 6px 0px #40454c; box-shadow: inset 0px 5px 6px 0px #40454c; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzYyNmE3NCIvPjxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjNDA0NTRjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #626a74), color-stop(35%, #40454c)); background-image: -webkit-linear-gradient(top, #626a74 5%, #40454c 35%); background-image: -moz-linear-gradient(top, #626a74 5%, #40454c 35%); background-image: -o-linear-gradient(top, #626a74 5%, #40454c 35%); background-image: -ms-linear-gradient(top, #626a74 5%, #40454c 35%); background-image: linear-gradient(top, #626a74 5%, #40454c 35%); }

.footer__widgets { float: left; width: 155px; padding: 0 19px; }

.footer__logo { display: block; background: url('../img/icons-sc8c7b602da.png') 0 0 no-repeat; width: 151px; height: 85px; }

.footer__newspaper { padding: 12px 0; color: #fff; }
.footer__newspaper a { color: #fff; text-decoration: none; }
.footer__newspaper a:hover { text-decoration: underline; }
.footer__newspaper span { padding: 0 2px; }

.calendar { width: 155px; height: 197px; background: url(../img/calendar.png) 0 0 no-repeat; }

.footer__soc { overflow: hidden; margin-bottom: 4px; padding: 5px 0 18px; border-bottom: 1px solid #b4b6b9; }
.footer__soc .soc { margin-right: 1px; }
.footer__soc span { color: #b5b7ba; display: block; margin-bottom: 4px; }

.footer__location { color: #b5b7ba; margin-bottom: 14px; }
.footer__location a { color: #fff; font-weight: bold; }

.footer__age { position: relative; padding: 6px 50px 6px 15px; background: #525963; font-size: 11px; color: #c4ceda; }
.footer__age span { position: absolute; top: 50%; right: 10px; margin-top: -14px; width: 28px; height: 28px; line-height: 28px; text-align: center; color: #fff; font-weight: bold; font-size: 13px; background: #e50b00; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.footer__counters { width: 940px; margin-left: 19px; padding: 5px 20px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; clear: both; }

.footer__main { float: left; padding-bottom: 6px; width: 820px; }

.footer__top-nav { margin: -4px 0 16px; overflow: hidden; }
.footer__top-nav li { float: left; margin-right: 6px; list-style-type: none; }
.footer__top-nav a { font-size: 14px; color: #fff; }
.footer__top-nav a:hover { text-decoration: underline; }

.footer__nav { overflow: hidden; }
.footer__nav li { float: left; margin: 0 2px 2px 0; list-style-type: none; }
.footer__nav a { display: block; padding: 5px 0px 8px 0px; width: 160px; text-align: center; color: #fff; font-size: 14px; text-decoration: none; background: #78838f; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.footer__info { padding-top: 10px; overflow: hidden; color: #fff; line-height: 14px; }
.footer__info div { width: 49%; float: left; padding-left: 1%; }
.footer__info p { padding-bottom: 14px; }
.footer__info a { color: #c2c2c2; }

.footer__advert { float: right; padding: 20px 0 25px; width: 49%; text-align: right; color: #fff; }
.footer__advert strong { display: block; font-size: 11px; border-bottom: 1px solid #989898; }
.footer__advert a { color: #c2c2c2; }

.footer__news { clear: both; padding: 3px 0 5px; border-top: 1px solid #565d66; line-height: 1.3; font-family: Tahoma,sans-serif; font-size: 12px; }
.footer__news dl { margin: 6px 0; }
.footer__news dt { color: #fff; }
.footer__news dd { display: inline; }
.footer__news ul { overflow: hidden; display: inline; }
.footer__news dt { display: inline; }
.footer__news li { display: inline-block; margin-right: 4px; color: #fff; }
.footer__news a { color: #c2c2c2; }
