img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body, html { height: 100%; }

a img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

a { color: #00919e; }
a:hover { text-decoration: none; }

.l-wrapper { margin: 0 auto -206px; position: relative; min-height: 100%; height: auto !important; height: 100%; width: 1030px; -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 17px rgba(0, 0, 0, 0.5); box-shadow: 0 0 17px rgba(0, 0, 0, 0.5); }

.push { clear: both; height: 206px; }

.clr { clear: both; }

.header { padding-top: 48px; }

.top-bar { position: fixed; top: 0; left: 50%; z-index: 1000; margin-left: -515px; padding: 0 15px 0 15px; height: 32px; line-height: 32px; width: 1000px; background: #565D65; }

.top-bar__city { float: left; padding: 0 30px 0 20px; height: 32px; color: #fff; font: bold 14px/32px Tahoma, Arial, Helvetica, sans-serif; }

.top-bar__region { float: left; height: 32px; color: #c1cdd9; font-size: 11px; line-height: 11px; background: #40454C; text-decoration: none; }
.top-bar__region span, .top-bar__region i { display: inline-block; vertical-align: middle; }
.top-bar__region i { margin: 5px 3px 5px 5px; background: url('../img/icons-s4060b9a1ac.png') 0 -68px no-repeat; width: 22px; height: 22px; }
.top-bar__region span { width: 120px; text-decoration: underline; }
.top-bar__region span:hover { text-decoration: none; }

.top-bar__enter { float: right; }

.header__banner { height: 90px; text-align: center; margin-bottom: 10px; }

.header__widgets { overflow: hidden; padding: 0 20px 0 4px; font-size: 13px; }
.header__widgets strong { display: block; color: #000; font-size: 16px; line-height: 14px; }

.header__logo { float: left; margin-right: 20px; width: 365px; height: 77px; background: url(../img/logo.png) 0 0 no-repeat; }
.header__logo:hover { opacity: 0.8; }

.today { float: left; padding-top: 12px; margin-right: 34px; font-size: 13px; color: #565d66; }

.weather { float: left; width: 100px; padding-top: 12px; color: #565d66; }

.weather_sun-cloud { background: url(../img/weather.png) 100% 6px no-repeat; }

.search { float: right; margin-top: 10px; padding: 5px; background: #f5f5f5; overflow: hidden; }

.search__text { float: left; margin-right: -2px; padding: 0 10px; width: 261px; height: 28px; border: 1px solid #bec5cd; border-right: 0; }

.search__submit { position: relative; float: right; width: 80px; height: 28px; line-height: 28px; color: #3f464c; font-size: 14px; border: 1px solid #bec5cd; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZDdkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #d6d7d9)); background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: -moz-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: -o-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: -ms-linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); background-image: linear-gradient(top, #fcfcfc 0%, #d6d7d9 100%); }
.search__submit:hover { background: #f5f7f8; }
.search__submit i { display: inline-block; margin-left: 6px; vertical-align: middle; background: url('../img/icons-s4060b9a1ac.png') 0 -134px no-repeat; width: 16px; height: 16px; }
.search__submit input { position: absolute; opacity: 0; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; }

.header__links { padding: 0 20px; }

.header__mob-links { float: left; overflow: hidden; margin-right: 10px; }
.header__mob-links span { float: left; margin-right: 10px; font-size: 13px; color: #565d66; }
.header__mob-links a { float: left; margin-right: 10px; color: #000; font-size: 14px; font-weight: bold; text-transform: uppercase; text-decoration: none; }
.header__mob-links a:hover { color: #40454c; text-decoration: underline; }
.header__mob-links .mobile { padding: 0px 4px; border: 1px solid #bfc0c0; background: #f5f5f5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.header__mob-links .mobile:hover { text-decoration: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.weather-webcam { position: relative; float: left; width: 144px; height: 22px; line-height: 22px; border: 1px solid #bcc4cc; font-size: 12px; color: #565d66; text-decoration: none; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px; }
.weather-webcam:before { content: ""; position: absolute; top: -9px; left: 15px; background: url('../img/icons-s4060b9a1ac.png') 0 -256px no-repeat; width: 10px; height: 9px; }
.weather-webcam i { display: inline-block; margin: 0 10px; background: url('../img/icons-s4060b9a1ac.png') 0 -182px no-repeat; width: 13px; height: 9px; }

.header__soc { float: right; overflow: hidden; line-height: 24px; }
.header__soc span { float: left; margin-right: 15px; font-size: 12px; color: #989898; }

.nav-top { padding: 5px 20px 0; }
.nav-top li { display: inline-block; margin-right: 5px; }
.nav-top a { color: #565d66; display: inline-block; font-size: 11px; padding: 0 4px; height: 22px; line-height: 22px; text-decoration: none; text-transform: uppercase; }
.nav-top a:hover { color: #78838f; text-decoration: underline; }
.nav-top .nav-top__photo, .nav-top .nav-top__video { border: 1px solid #d3dce6; background: #f5f5f5; margin-right: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.nav-top .nav-top__photo:hover, .nav-top .nav-top__video:hover { opacity: .8; }
.nav-top .nav-top__video { margin: 0 10px 0 3px; }
.nav-top i { margin-right: 7px; }

.nav-spec { padding: 11px 20px 0; }
.nav-spec li { display: inline-block; margin-right: -2px; }
.nav-spec a { display: inline-block; padding: 0 9px; height: 22px; line-height: 22px; text-decoration: none; color: #fff; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

.nav-spec__red { background: #bf1c0b; -webkit-box-shadow: inset 0px -3px 3px 0px #990802; -moz-box-shadow: inset 0px -3px 3px 0px #990802; box-shadow: inset 0px -3px 3px 0px #990802; }
.nav-spec__red:hover { background: #cc493c; }

.nav-spec__blue { background: #00769d; -webkit-box-shadow: inset 0px -3px 3px 0px #00446d; -moz-box-shadow: inset 0px -3px 3px 0px #00446d; box-shadow: inset 0px -3px 3px 0px #00446d; }
.nav-spec__blue:hover { background: #3391b1; }

.nav-spec__green { background: #197b30; -webkit-box-shadow: inset 0px -3px 3px 0px #084d18; -moz-box-shadow: inset 0px -3px 3px 0px #084d18; box-shadow: inset 0px -3px 3px 0px #084d18; }
.nav-spec__green:hover { background: #479559; }

.nav-spec__black { background: #40454c; -webkit-box-shadow: inset 0px -3px 3px 0px #0d0e0f; -moz-box-shadow: inset 0px -3px 3px 0px #0d0e0f; box-shadow: inset 0px -3px 3px 0px #0d0e0f; }
.nav-spec__black:hover { background: #666a70; }

.nav-spec__purple { background: #7100e5; -webkit-box-shadow: inset 0px -3px 3px 0px #4c009a; -moz-box-shadow: inset 0px -3px 3px 0px #4c009a; box-shadow: inset 0px -3px 3px 0px #4c009a; }
.nav-spec__purple:hover { background: #8d33ea; }

.nav-spec__azure { background: #009a91; -webkit-box-shadow: inset 0px -3px 3px 0px #006761; -moz-box-shadow: inset 0px -3px 3px 0px #006761; box-shadow: inset 0px -3px 3px 0px #006761; }
.nav-spec__azure:hover { background: #33aea7; }

.nav-spec__yellow { background: #eca60f; -webkit-box-shadow: inset 0px -3px 3px 0px #de7804; -moz-box-shadow: inset 0px -3px 3px 0px #de7804; box-shadow: inset 0px -3px 3px 0px #de7804; }
.nav-spec__yellow:hover { background: #f0b83f; }

.nav { padding-left: 20px; overflow: hidden; -webkit-box-shadow: inset 0px 7px 7px 0px #8d99a5; -moz-box-shadow: inset 0px 7px 7px 0px #8d99a5; box-shadow: inset 0px 7px 7px 0px #8d99a5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzc3ODM4ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcyN2U4YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #77838f), color-stop(100%, #727e8a)); background-image: -webkit-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: -moz-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: -o-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: -ms-linear-gradient(top, #77838f 5%, #727e8a 100%); background-image: linear-gradient(top, #77838f 5%, #727e8a 100%); }
.nav li { display: inline-block; margin-right: -3px; padding: 3px 6px 0 4px; border-right: 1px solid #55667a; -webkit-box-shadow: inset -1px 0px 0 #a5b1bd; -moz-box-shadow: inset -1px 0px 0 #a5b1bd; box-shadow: inset -1px 0px 0 #a5b1bd; }
.nav li:first-child { border-left: 1px solid #55667a; -webkit-box-shadow: inset 1px 0px 0 #a5b1bd; -moz-box-shadow: inset 1px 0px 0 #a5b1bd; box-shadow: inset 1px 0px 0 #a5b1bd; }
.nav li:hover { background: #838f9b; }
.nav li:hover a { text-decoration: underline; }
.nav a { display: inline-block; height: 28px; line-height: 24px; color: #fff; font-size: 14px; text-decoration: none; padding: 5px 8px 0px 10px; }
.nav .active { color: #000; background: #fff; font-weight: bold; -webkit-box-shadow: 3px 1px 3px #282c30; -moz-box-shadow: 3px 1px 3px #282c30; box-shadow: 3px 1px 3px #282c30; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

.btn { text-decoration: none; }

.btn_gray { display: inline-block; padding: 0 10px; height: 22px; line-height: 22px; color: #fff; border: 1px solid #4b5158; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhOTZhMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY2NzA3YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a96a2), color-stop(100%, #66707a)); background-image: -webkit-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: -moz-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: -o-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: -ms-linear-gradient(top, #8a96a2 0%, #66707a 100%); background-image: linear-gradient(top, #8a96a2 0%, #66707a 100%); }
.btn_gray:hover { background: #8a96a2; }

.soc { float: left; margin-right: 3px; }

.soc_ig { background: url('../img/icons-s4060b9a1ac.png') 0 0 no-repeat; width: 24px; height: 24px; }

.soc_gp { background: url('../img/icons-s4060b9a1ac.png') 0 -34px no-repeat; width: 24px; height: 24px; }

.soc_fb { background: url('../img/icons-s4060b9a1ac.png') 0 -275px no-repeat; width: 24px; height: 24px; }

.soc_odn { background: url('../img/icons-s4060b9a1ac.png') 0 -222px no-repeat; width: 24px; height: 24px; }

.soc_tw { background: url('../img/icons-s4060b9a1ac.png') 0 -100px no-repeat; width: 24px; height: 24px; }

.soc_vk { background: url('../img/icons-s4060b9a1ac.png') 0 -309px no-repeat; width: 24px; height: 24px; }

.icon { display: inline-block; }

.icon_photo { background: url('../img/icons-s4060b9a1ac.png') 0 -201px no-repeat; width: 12px; height: 11px; }

.icon_video { background: url('../img/icons-s4060b9a1ac.png') 0 -160px no-repeat; width: 13px; height: 12px; }
