.lteie8 .nav { background: #727e8a; }
.lteie8 .footer { background: #626a74; }
.lteie8 .search__text { line-height: 30px; }
.lteie8 .search span { display: none; }
.lteie8 .overlay { background: #000; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50) !important; }

* + html .footer__news li, * + html .about, * + html .captcha *, * + html .popup .input-text { display: inline; }
* + html .btn-reg { line-height: 1 !important; }

* html .top-bar { position: absolute; }
* html .nav-spec a, * html .nav-spec li, * html .nav a, * html .nav li { display: inline; }
* html .header__links { clear: both; }
* html .header__widgets { margin-bottom: 20px; }
* html .nav { height: 27px; }
* html .search { background: none; }
* html .footer__news li, * html .about, * html .captcha *, * html .nav .active span, * html .nav .active, * html .wall__user, * html .wall__user i, * html .wall__com i { display: inline; }
* html .about { margin-right: 20px; }
* html .form { height: 100%; }
