.actions-title { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 24px; padding-bottom: 3px; font-weight: normal; color: #565d66; }
.actions-title a { color: #565d66; text-decoration: none; }

.actions-pic { overflow: hidden; }

.actions-pic__top { position: relative; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; }
.actions-pic__top img { display: block; }
.actions-pic__top span { position: absolute; bottom: 0; left: 0; width: 310px; padding: 6px 10px 14px 10px; background: rgba(0, 0, 0, 0.4); font-size: 18px; color: #fff; text-decoration: none; }

.actions-pic__down { width: 310px; margin-bottom: 6px; padding: 6px 10px 15px 10px; border-bottom: 1px solid #d6d6d6; background: #f5f5f5; }
.actions-pic__down a { font-size: 14px; text-decoration: none; color: #000; }

.actions-list li { padding: 7px 0px 10px 0px; border-top: 1px solid #d6d6d6; }
.actions-list li:first-child { border: none; }

.actions-list__title { margin-bottom: 5px; overflow: hidden; }
.actions-list__title img { float: left; margin-right: 10px; }
.actions-list__title a { font-size: 14px; color: #1a5ca7; text-decoration: none; }

.actions-list__desc a { font-size: 12px; color: #000; text-decoration: none; }
