.article a { *zoom: 1; }
.article a:before, .article a:after { content: " "; display: table; }
.article a:after { clear: both; }

.news-online li { overflow: hidden; padding: 7px 5px 6px; border-bottom: 1px solid #c9cdd2; }
.news-online li:hover { background: #f5f5f5; -moz-transition: background 0.2s ease-in-out; -o-transition: background 0.2s ease-in-out; -webkit-transition: background 0.2s ease-in-out; -ms-transition: background 0.2s ease-in-out; transition: background 0.2s ease-in-out; }
.news-online li:hover span { color: #e50b00; }
.news-online li:nth-child(1) span, .news-online li:nth-child(2) span, .news-online li:nth-child(3) span { color: #e50b00; }
.news-online a { font-size: 18px; text-decoration: none; }
.news-online img { float: left; padding: 5px 10px 8px 0px; }
.news-online span { float: left; padding-right: 6px; color: #565d66; font-weight: bold; }
.news-online strong { color: #e50b00; }
.news-online h2 { padding-bottom: 4px; color: #1a5ca7; font-size: 18px; }
.news-online p { color: #000; font-size: 14px; }

.news-archive { padding: 5px 15px 1px; margin: 15px 0px 20px; background: #f5f5f5; }
.news-archive li { overflow: hidden; margin-bottom: 10px; }
.news-archive li:last-child { padding-bottom: 8px; border-bottom: 1px solid #989898; }
.news-archive h2 { font: normal 18px Tahoma,Arial,Helvetica,sans-serif; margin-top: 4px; }
.news-archive span { float: left; width: 50px; color: #989898; font-size: 12px; }
.news-archive a { float: left; margin-right: 8px; color: #565d66; }
.news-archive a:first-child { margin-right: 20px; }
.news-archive .active { position: relative; top: -2px; color: #e50b00; font-size: 14px; font-weight: bold; }

.sidebar__banner { text-align: center; margin-bottom: 10px; }

.soc-tabs { overflow: hidden; margin: 20px 0 0; }
.soc-tabs li { float: left; margin-right: 3px; height: 26px; width: 49px; border: 2px solid #e6e6e6; border-bottom: #000; background: #efede7; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -ms-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; cursor: pointer; text-align: center; }
.soc-tabs .active { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWRlNyIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efede7), color-stop(30%, #ffffff)); background-image: -webkit-linear-gradient(top, #efede7 0%, #ffffff 30%); background-image: -moz-linear-gradient(top, #efede7 0%, #ffffff 30%); background-image: -o-linear-gradient(top, #efede7 0%, #ffffff 30%); background-image: -ms-linear-gradient(top, #efede7 0%, #ffffff 30%); background-image: linear-gradient(top, #efede7 0%, #ffffff 30%); }

.tab-soc-cont { display: none; padding: 5px; border: 2px solid #e6e6e6; }

.info-block { margin: 40px 0 20px; }
.info-block strong { display: inline-block; padding: 0 10px; height: 26px; font: bold 15px/26px Tahoma, Arial, Helvetica, sans-serif; text-transform: uppercase; border: 1px solid #d7d7d7; border-bottom: 0; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #efefef)); background-image: -webkit-linear-gradient(top, #ffffff 10%, #efefef 100%); background-image: -moz-linear-gradient(top, #ffffff 10%, #efefef 100%); background-image: -o-linear-gradient(top, #ffffff 10%, #efefef 100%); background-image: -ms-linear-gradient(top, #ffffff 10%, #efefef 100%); background-image: linear-gradient(top, #ffffff 10%, #efefef 100%); }
.info-block li { overflow: hidden; border-bottom: 1px solid #d8d8d8; }
.info-block ul { padding: 15px 9px; border: 1px solid #d7d7d7; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(15%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #efefef)); background-image: -webkit-linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); background-image: -moz-linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); background-image: -o-linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); background-image: -ms-linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); background-image: linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); }
.info-block a { text-decoration: none; }
.info-block img { float: left; margin: 2px 10px 4px 0; -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3); box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3); }
.info-block h5 { color: #40454c; font-size: 14px; }

.info-block_spec ul { padding: 0 9px; }
.info-block_spec li { padding: 10px 0; }
.info-block_spec li:last-child { border-bottom: none; }
.info-block_spec h5 { font-size: 13px; }
.info-block_spec p { font-size: 11px; line-height: 12px; }

.fb-reg { margin: 20px 0 30px; display: block; height: 70px; background: url(../img/fb-reg.png) 0 0 no-repeat; }

.news-sidebar { margin: 30px 0; }
.news-sidebar h5 { float: left; color: #fff; padding: 3px 9px 3px 9px; letter-spacing: 0.6pt; text-transform: uppercase; font: bold 15px Tahoma, Arial, Helvetica, sans-serif; text-shadow: 1px 2px 3px #383D43; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4OGY4OCIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNWM2NDZkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #788f88), color-stop(70%, #5c646d)); background-image: -webkit-linear-gradient(top, #788f88 0%, #5c646d 70%); background-image: -moz-linear-gradient(top, #788f88 0%, #5c646d 70%); background-image: -o-linear-gradient(top, #788f88 0%, #5c646d 70%); background-image: -ms-linear-gradient(top, #788f88 0%, #5c646d 70%); background-image: linear-gradient(top, #788f88 0%, #5c646d 70%); }
.news-sidebar ul { padding: 4px 3px 2px; background: #f5f5f5; clear: both; }
.news-sidebar li { margin-bottom: 2px; padding: 10px; height: 100%; background: #fff; border: 1px solid #e4e4e4; overflow: hidden; }
.news-sidebar a { color: #000; text-decoration: none; }
.news-sidebar img { float: left; margin-right: 10px; }
.news-sidebar p { color: #000; }

.yandex-direct, .bank-widget, .books-widget { margin: 30px 0; }

.l-cols_media .news-sidebar ul { background: #40444d; }
.l-cols_media .news-sidebar li { background: #565D67; border: 1px solid #3c4049; }
.l-cols_media .info-block strong, .l-cols_media .info-block ul { background: none; border: 1px solid #40444d; color: #fff; }
.l-cols_media .info-block li { border-bottom: 1px solid #40444d; }
.l-cols_media .info-block li:last-child { border-bottom: none; }
.l-cols_media .info-block strong { border-bottom: none; }
.l-cols_media .info-block h5 { color: #fff; }

.about-wrap { margin-right: -40px; padding: 20px 0; overflow: hidden; }

.about { overflow: hidden; display: inline-block; vertical-align: top; margin: 0 27px 27px 0; width: 310px; }
.about div { overflow: hidden; height: 100%; }
.about div a { font-size: 14px; }
.about a { font-size: 13px; color: #40454c; text-decoration: none; }
.about a:hover { text-decoration: underline; }
.about img { float: left; margin: 0 10px 10px 0; }

.about__title { padding-bottom: 5px; border-bottom: 1px solid #78838F; margin-bottom: 10px; font: bold 18px Tahoma, Arial, Helvetica, sans-serif; }
.about__title a { color: #000; }

.about__descr { display: block; padding: 10px 10px 5px; line-height: 15px; background: #f5f2e9; }

.archive-nav { margin-bottom: 23px; padding: 7px 0px 12px 11px; font-family: Tahoma, Arial, Helvetica, sans-serif; background: #f5f5f5; font-size: 12px; }
.archive-nav a { color: #40454c; }
.archive-nav a.active { color: #e50b00; }

.archive-nav__list { margin-bottom: 20px; overflow: hidden; }
.archive-nav__list a { float: left; margin-right: 12px; font-size: 14px; }

.archive-nav__region { cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; font-family: Tahoma, Arial, Helvetica, sans-serif; }
.archive-nav__region i { margin-right: 5px; }
.archive-nav__region strong { color: #e50b00; font-weight: normal; }

.archive-nav__cities { display: none; overflow: hidden; padding-top: 10px; }
.archive-nav__cities a { float: left; margin-right: 16px; }

.archive-title { padding: 0 0 10px 10px; }
.archive-title span { font-weight: normal; color: #e50b00; text-transform: capitalize; }

.archive-item { overflow: hidden; }
.archive-item li { float: left; margin: 0px 0px 11px 60px; overflow: hidden; padding: 12px 0 30px; width: 246px; text-align: center; }
.archive-item li:hover { background: #f5f5f5; }
.archive-item a { font-size: 16px; color: #565d66; text-decoration: none; }
.archive-item span { display: block; margin-bottom: 12px; }
.archive-item img { border: 1px solid #989898; box-shadow: -2px 2px 2px 0px #d9d9d9; }

.articles-title { font-size: 18px; margin: 10px 0; }

.article { margin-bottom: 12px; overflow: hidden; }
.article img { float: left; margin: 4px 10px 0 0; }
.article a { color: #1a5ca7; font-size: 18px; text-decoration: none; display: block; margin-bottom: 5px; }
.article a:hover { text-decoration: underline; }
.article h5 { font-size: 18px; line-height: 1.2em; margin-bottom: 20px; }
.article p { margin-bottom: 8px; }

.press-nav ul { padding: 0 10px; border: 1px solid #dadada; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ffffff), color-stop(100%, #f5f5f5)); background-image: -webkit-linear-gradient(top, #ffffff 5%, #f5f5f5 100%); background-image: -moz-linear-gradient(top, #ffffff 5%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #ffffff 5%, #f5f5f5 100%); background-image: -ms-linear-gradient(top, #ffffff 5%, #f5f5f5 100%); background-image: linear-gradient(top, #ffffff 5%, #f5f5f5 100%); }
.press-nav li { padding: 8px 5px; border-top: 1px solid #989898; font-size: 14px; }
.press-nav li:first-child { border-top: 0; }
.press-nav a { color: #40454c; text-decoration: none; }
.press-nav a:hover { text-decoration: underline; }

.press-nav__title { display: inline-block; padding: 0 15px 0 10px; height: 29px; color: #fff; text-transform: uppercase; font: bold 15px/29px Tahoma, Arial, sans-serif; text-shadow: 3px 3px 2px #C56D00; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2VhOWYwZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkN2IwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ea9f0e), color-stop(100%, #dd7b00)); background-image: -webkit-linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); background-image: -moz-linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); background-image: -o-linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); background-image: -ms-linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); background-image: linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); }

.content { padding-top: 15px; font-size: 16px; line-height: 21px; }
.content h3 { margin-bottom: 15px; color: #565d66; font-weight: normal; font-size: 20px; }
.content p { margin-bottom: 10px; }
.content img { float: left; margin: 0 10px 10px 0; }

.question { font-size: 14px; line-height: 21px; }
.question ul { margin-bottom: 15px; padding: 10px 0 25px 15px; border-bottom: 1px solid #d0d0d0; }
.question ul li { padding: 5px; background: #f5f5f5; }

.question__author { font: bold 16px/13px Tahoma, Arial, sans-serif; }

.question__date { display: block; margin-bottom: 5px; color: #989898; font: normal 11px Tahoma, Arial, sans-serif; }

.actions-title { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 24px; padding-bottom: 3px; font-weight: normal; color: #565d66; }
.actions-title a { color: #565d66; text-decoration: none; }

.actions-pic { overflow: hidden; }

.actions-pic__top { position: relative; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; }
.actions-pic__top img { display: block; }
.actions-pic__top span { position: absolute; bottom: 0; left: 0; width: 310px; padding: 6px 10px 14px 10px; background: rgba(0, 0, 0, 0.4); font-size: 18px; color: #fff; text-decoration: none; }

.actions-pic__down { width: 310px; margin-bottom: 6px; padding: 6px 10px 15px 10px; border-bottom: 1px solid #d6d6d6; background: #f5f5f5; }
.actions-pic__down a { font-size: 14px; text-decoration: none; color: #000; }

.actions-list li { padding: 7px 0px 10px 0px; border-top: 1px solid #d6d6d6; }
.actions-list li:first-child { border: none; }

.actions-list__title { margin-bottom: 5px; overflow: hidden; }
.actions-list__title img { float: left; margin-right: 10px; }
.actions-list__title a { font-size: 14px; color: #1a5ca7; text-decoration: none; }

.actions-list__desc a { font-size: 12px; color: #000; text-decoration: none; }

.media-title { margin-bottom: 13px; color: #fff; border-bottom: 1px dashed #919aa3; }
.media-title strong { font-size: 26px; font-weight: normal; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
.media-title span { position: relative; top: -3px; padding: 0 4px; font-size: 20px; }
.media-title h4 { display: inline; color: #ffb421; font-weight: normal; font-size: 24px; }

.media-title_mod { border-bottom: 0; }
.media-title_mod strong { font-size: 23px; }

.media-cont { color: #fff; }
.media-cont h1 { padding: 0 10px 10px; font: normal 18px Tahoma, Arial, sans-serif; }
.media-cont h3 { padding: 0 0 4px 11px; font-size: 17px; font-family: Arial, Helvetica, sans-serif; }

.gallery-info { padding: 0 0 13px 11px; font-size: 12px; font-family: Tahoma, Arial, Helvetica, sans-serif; }
.gallery-info span { color: #ffb421; font-weight: bold; }

.gallery { position: relative; margin-bottom: 14px; padding: 20px 0 15px 36px; background: #40454c; }
.gallery ul { overflow: hidden; }
.gallery li { float: left; margin: 0 30px 20px 0; }
.gallery a { text-decoration: none; }
.gallery img { -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5); box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5); }
.gallery h3 { padding: 0 0 10px 0; font-weight: normal; font-size: 18px; }
.gallery h3 strong { color: #ffb421; display: inline; font-size: 18px; }

.gallery__border { clear: both; margin-right: 36px; height: 0; border-bottom: 1px dashed #919aa3; }

.gallery_other { padding: 5px 6px 35px; }
.gallery_other li { width: 312px; margin: 0 12px 10px 0; padding: 0 0 5px 5px; overflow: hidden; }
.gallery_other img { float: left; margin: 0 10px 10px 0; }
.gallery_other .gallery__border { margin: 0; }
.gallery_other span, .gallery_other strong { display: block; }
.gallery_other span { color: #f5f5f5; font: normal 10px Tahoma,Arial,sans-serif; }
.gallery_other strong { color: #fff; font-size: 12px; }
.gallery_other b { color: #b5bfcb; font-weight: normal; }

.gallery-more { float: right; margin-top: 5px; color: #b5bfcb; }

.videogallery { margin-bottom: 14px; padding: 5px 5px 36px; background: #40454c; color: #f5f5f5; font-family: Tahoma, Arial, sans-serif; }
.videogallery ul { overflow: hidden; margin-right: -30px; }
.videogallery li { display: inline-block; margin: 0 16px 25px 0; }
.videogallery img { margin: 4px; }
.videogallery span { font-size: 11px; display: block; }
.videogallery a { font-size: 14px; color: #f5f5f5; }
.videogallery div { padding-left: 7px; }
.videogallery h3 { padding: 0 0 10px 0; font-weight: normal; font-size: 18px; }
.videogallery h3 strong { color: #ffb421; display: inline; font-size: 18px; }
.videogallery .gallery__border { margin: 0 10px; }
.videogallery .gallery-more { font-size: 12px; color: #b5bfcb; }

.video-preview { display: block; position: relative; }
.video-preview .icon_play { position: absolute; bottom: 2px; left: 5px; }
.video-preview img { display: block; }
