.article a { *zoom: 1; }
.article a:before, .article a:after { content: " "; display: table; }
.article a:after { clear: both; }

.news-online li { overflow: hidden; padding: 7px 5px 6px; border-bottom: 1px solid #c9cdd2; }
.news-online li:hover { background: #f5f5f5; -moz-transition: background 0.2s ease-in-out; -o-transition: background 0.2s ease-in-out; -webkit-transition: background 0.2s ease-in-out; -ms-transition: background 0.2s ease-in-out; transition: background 0.2s ease-in-out; }
.news-online li:hover span { color: #e50b00; }
.news-online li:nth-child(1) span, .news-online li:nth-child(2) span, .news-online li:nth-child(3) span { color: #e50b00; }
.news-online a { font-size: 18px; text-decoration: none; }
.news-online img { float: left; padding: 5px 10px 8px 0px; }
.news-online span { float: left; padding-right: 6px; color: #565d66; font-weight: bold; }
.news-online strong { color: #e50b00; }
.news-online h2 { padding-bottom: 4px; color: #1a5ca7; font-size: 18px; }
.news-online p { color: #000; font-size: 14px; }

.news-archive { padding: 5px 15px 1px; margin: 15px 0px 20px; background: #f5f5f5; }
.news-archive li { overflow: hidden; margin-bottom: 10px; }
.news-archive li:last-child { padding-bottom: 8px; border-bottom: 1px solid #989898; }
.news-archive h2 { font: normal 18px Tahoma,Arial,Helvetica,sans-serif; margin-top: 4px; }
.news-archive span { float: left; width: 50px; color: #989898; font-size: 12px; }
.news-archive a { float: left; margin-right: 8px; color: #565d66; }
.news-archive a:first-child { margin-right: 20px; }
.news-archive .active { position: relative; top: -2px; color: #e50b00; font-size: 14px; font-weight: bold; }

.sidebar__banner { text-align: center; margin-bottom: 10px; }

.soc-tabs { overflow: hidden; margin: 20px 0 0; }
.soc-tabs li { float: left; margin-right: 3px; height: 26px; width: 49px; border: 2px solid #e6e6e6; border-bottom: #000; background: #efede7; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -ms-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; cursor: pointer; text-align: center; }
.soc-tabs .active { background: #efede7; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWRlNyIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efede7), color-stop(30%, #ffffff)); background-image: -webkit-linear-gradient(top, #efede7 0%, #ffffff 30%); background-image: -moz-linear-gradient(top, #efede7 0%, #ffffff 30%); background-image: -o-linear-gradient(top, #efede7 0%, #ffffff 30%); background-image: linear-gradient(top, #efede7 0%, #ffffff 30%); }

.tab-soc-cont { display: none; padding: 5px; border: 2px solid #e6e6e6; }

.info-block { margin: 40px 0 20px; }
.info-block strong { display: inline-block; padding: 0 10px; height: 26px; font: bold 15px/26px Tahoma, Arial, Helvetica, sans-serif; text-transform: uppercase; border: 1px solid #d7d7d7; border-bottom: 0; background: #efefef; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #ffffff), color-stop(100%, #efefef)); background-image: -webkit-linear-gradient(top, #ffffff 10%, #efefef 100%); background-image: -moz-linear-gradient(top, #ffffff 10%, #efefef 100%); background-image: -o-linear-gradient(top, #ffffff 10%, #efefef 100%); background-image: linear-gradient(top, #ffffff 10%, #efefef 100%); }
.info-block li { padding: 5px 0; overflow: hidden; border-bottom: 1px solid #d8d8d8; }
.info-block ul { padding: 15px 9px; border: 1px solid #d7d7d7; background: #efefef; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(15%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #efefef)); background-image: -webkit-linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); background-image: -moz-linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); background-image: -o-linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); background-image: linear-gradient(top, #efefef 0%, #ffffff 15%, #ffffff 85%, #efefef 100%); }
.info-block a { text-decoration: none; }
.info-block img { float: left; margin: 5px 10px 4px 0; -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3); box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3); }
.info-block h1 { color: #40454c; font-size: 14px; }

.info-block_spec ul { padding: 0 9px; }
.info-block_spec li { padding: 10px 0; }
.info-block_spec li:last-child { border-bottom: none; }
.info-block_spec h1 { font-size: 13px; }
.info-block_spec p { font-size: 11px; line-height: 12px; }

.fb-reg { margin: 20px 0 30px; display: block; height: 70px; background: url(../img/fb-reg.png) 0 0 no-repeat; }

.news-sidebar { margin: 30px 0; }
.news-sidebar h1 { float: left; color: #fff; padding: 3px 9px 3px 9px; letter-spacing: 0.6pt; text-transform: uppercase; font: bold 15px Tahoma, Arial, Helvetica, sans-serif; text-shadow: 1px 2px 3px #383D43; background: #5c646d; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4OGY4OCIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNWM2NDZkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #788f88), color-stop(70%, #5c646d)); background-image: -webkit-linear-gradient(top, #788f88 0%, #5c646d 70%); background-image: -moz-linear-gradient(top, #788f88 0%, #5c646d 70%); background-image: -o-linear-gradient(top, #788f88 0%, #5c646d 70%); background-image: linear-gradient(top, #788f88 0%, #5c646d 70%); }
.news-sidebar ul { padding: 4px 3px 2px; background: #f5f5f5; clear: both; }
.news-sidebar li { margin-bottom: 2px; padding: 10px; height: 100%; background: #fff; border: 1px solid #e4e4e4; overflow: hidden; }
.news-sidebar a { color: #000; text-decoration: none; }
.news-sidebar img { float: left; margin-right: 10px; }
.news-sidebar p { color: #000; }

.yandex-direct, .bank-widget, .books-widget { margin: 30px 0; }

.l-cols_media .news-sidebar ul { background: #40444d; }
.l-cols_media .news-sidebar li { background: #565D67; border: 1px solid #3c4049; }
.l-cols_media .info-block strong, .l-cols_media .info-block ul { background: none; border: 1px solid #40444d; color: #fff; }
.l-cols_media .info-block li { border-bottom: 1px solid #40444d; }
.l-cols_media .info-block li:last-child { border-bottom: none; }
.l-cols_media .info-block strong { border-bottom: none; }
.l-cols_media .info-block h1 { color: #fff; }

.about-wrap { margin-right: -40px; padding: 20px 0; overflow: hidden; }

.about { overflow: hidden; display: inline-block; vertical-align: top; margin: 0 27px 27px 0; width: 310px; }
.about div { overflow: hidden; height: 100%; }
.about div a { font-size: 14px; }
.about a { font-size: 13px; color: #40454c; text-decoration: none; }
.about a:hover { text-decoration: underline; }
.about img { float: left; margin: 0 10px 10px 0; }

.about__title { padding-bottom: 5px; border-bottom: 1px solid #78838F; margin-bottom: 10px; font: bold 18px Tahoma, Arial, Helvetica, sans-serif; }
.about__title a { color: #000; }

.about__descr { display: block; padding: 10px 10px 5px; line-height: 15px; background: #f5f2e9; }

.add-nav { margin-bottom: 23px; padding: 7px 0px 12px 11px; font-family: Tahoma, Arial, Helvetica, sans-serif; background: #f5f5f5; font-size: 12px; }
.add-nav a { color: #40454c; }
.add-nav a.active { color: #e50b00; }

.add-nav__list { overflow: hidden; }
.add-nav__list a { float: left; margin-right: 12px; font-size: 14px; }

.add-nav__region { display: inline-block; margin-top: 20px; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; font-family: Tahoma, Arial, Helvetica, sans-serif; }
.add-nav__region i { margin-right: 5px; }
.add-nav__region strong { color: #e50b00; font-weight: normal; }

.add-nav__cities { display: none; overflow: hidden; padding-top: 10px; }
.add-nav__cities a { float: left; margin-right: 16px; }

.archive-title { padding: 0 0 10px 10px; }
.archive-title span { font-weight: normal; color: #e50b00; text-transform: capitalize; }

.archive-item { overflow: hidden; }
.archive-item li { float: left; margin: 0px 0px 11px 60px; overflow: hidden; padding: 12px 0 30px; width: 246px; text-align: center; }
.archive-item li:hover { background: #f5f5f5; }
.archive-item a { font-size: 16px; color: #565d66; text-decoration: none; }
.archive-item span { display: block; margin-bottom: 12px; }
.archive-item img { border: 1px solid #989898; box-shadow: -2px 2px 2px 0px #d9d9d9; }

.articles-title { font-size: 18px; margin: 10px 0; }

.article { margin-bottom: 12px; overflow: hidden; }
.article img { float: left; margin: 4px 10px 0 0; }
.article a { color: #1a5ca7; font-size: 18px; text-decoration: none; display: block; margin-bottom: 5px; }
.article a:hover { text-decoration: underline; }
.article h1 { font-size: 18px; line-height: 1.2em; margin-bottom: 20px; }
.article p { margin-bottom: 8px; }
.article p strong { color: #f00; }

.article_mod { font-size: 14px; }
.article_mod a:hover { text-decoration: none; }
.article_mod span { padding-right: 2px; color: #989898; font-size: 12px; }
.article_mod:last-child { border: 0; }
.article_mod p { color: #000; font-size: 14px; text-decoration: none; }

.article_small { padding: 7px 0px 10px 0px; border-top: 1px solid #d6d6d6; }
.article_small h1 { font-size: 14px; }
.article_small:first-child { border: none; }

.article_width { padding-top: 10px; font-size: 14px; border-top: 1px solid #c9cdd2; }
.article_width a:hover { text-decoration: none; }
.article_width span { padding-right: 2px; color: #989898; font-size: 12px; }
.article_width:first-child { border: 0; }
.article_width p { color: #000; font-size: 14px; text-decoration: none; }

.article-categ { padding-bottom: 4px; font-size: 21px; font: normal 21px Tahoma, Arial, sans-serif; border-bottom: 1px solid #78838f; }
.article-categ a { color: #40454c; text-decoration: none; }

.press-nav ul { padding: 0 10px; border: 1px solid #dadada; background: #f5f5f5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ffffff), color-stop(100%, #f5f5f5)); background-image: -webkit-linear-gradient(top, #ffffff 5%, #f5f5f5 100%); background-image: -moz-linear-gradient(top, #ffffff 5%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #ffffff 5%, #f5f5f5 100%); background-image: linear-gradient(top, #ffffff 5%, #f5f5f5 100%); }
.press-nav li { padding: 8px 5px; border-top: 1px solid #989898; font-size: 14px; }
.press-nav li:first-child { border-top: 0; }
.press-nav li span { display: block; font-size: 14px; color: #78838f; }
.press-nav a { color: #40454c; text-decoration: none; }
.press-nav a:hover { text-decoration: underline; }

.press-nav__title { display: inline-block; padding: 0 15px 0 10px; height: 29px; color: #fff; text-transform: uppercase; font: bold 15px/29px Tahoma, Arial, sans-serif; text-shadow: 3px 3px 2px #C56D00; background: #eadf0e; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2VhOWYwZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkN2IwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ea9f0e), color-stop(100%, #dd7b00)); background-image: -webkit-linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); background-image: -moz-linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); background-image: -o-linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); background-image: linear-gradient(top, #ea9f0e 5%, #dd7b00 100%); }

.content { padding-top: 15px; font-size: 16px; line-height: 21px; }
.content h3 { margin-bottom: 15px; color: #565d66; font-weight: normal; font-size: 20px; }
.content p { margin-bottom: 10px; }
.content img { float: left; margin: 0 10px 10px 0; }

.question { font-size: 14px; line-height: 21px; }
.question ul { margin-bottom: 15px; padding: 10px 0 25px 15px; border-bottom: 1px solid #d0d0d0; }
.question ul li { padding: 5px; background: #f5f5f5; }

.question__author { font: bold 16px/13px Tahoma, Arial, sans-serif; }

.question__date { display: block; margin-bottom: 5px; color: #989898; font: normal 11px Tahoma, Arial, sans-serif; }

.actions-title { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 24px; padding-bottom: 3px; font-weight: normal; color: #565d66; }
.actions-title a { color: #565d66; text-decoration: none; }

.actions-pic { overflow: hidden; }

.actions-pic__top { position: relative; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; box-shadow: rgba(0, 0, 0, 0.4) 0 0 7px; }
.actions-pic__top img { display: block; }
.actions-pic__top span { position: absolute; bottom: 0; left: 0; width: 310px; padding: 6px 10px 14px 10px; background: #000; background: rgba(0, 0, 0, 0.4); font-size: 18px; color: #fff; text-decoration: none; }

.actions-pic__down { width: 310px; margin-bottom: 6px; padding: 6px 10px 15px 10px; border-bottom: 1px solid #d6d6d6; background: #f5f5f5; }
.actions-pic__down a { font-size: 14px; text-decoration: none; color: #000; }

.actions-list li { padding: 7px 0px 10px 0px; border-top: 1px solid #d6d6d6; }
.actions-list li:first-child { border: none; }

.actions-list__title { margin-bottom: 5px; overflow: hidden; }
.actions-list__title img { float: left; margin-right: 10px; }
.actions-list__title a { font-size: 14px; color: #1a5ca7; text-decoration: none; }

.actions-list__desc a { font-size: 12px; color: #000; text-decoration: none; }

.media-title { margin-bottom: 13px; color: #fff; border-bottom: 1px dashed #919aa3; }
.media-title a { font-size: 26px; color: #fff; text-decoration: none; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
.media-title span { position: relative; top: -3px; padding: 0 4px; font-size: 20px; }
.media-title h4 { display: inline; color: #ffb421; font-weight: normal; font-size: 24px; }

.media-title_mod { border-bottom: 0; }
.media-title_mod strong { font-size: 23px; }

.media-cont { color: #fff; }
.media-cont h1 { padding: 0 10px 10px; font: normal 18px Tahoma, Arial, sans-serif; }
.media-cont h3 { padding: 0 0 4px 11px; font-size: 17px; font-family: Arial, Helvetica, sans-serif; }

.gallery-info { padding: 0 0 13px 11px; font-size: 12px; font-family: Tahoma, Arial, Helvetica, sans-serif; }
.gallery-info span { color: #ffb421; font-weight: bold; }

.gallery { position: relative; margin-bottom: 14px; padding: 20px 0 15px 36px; background: #40454c; }
.gallery ul { overflow: hidden; }
.gallery li { float: left; margin: 0 30px 20px 0; }
.gallery a { text-decoration: none; }
.gallery img { -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5); box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5); }
.gallery h3 { padding: 0 0 10px 0; font-weight: normal; font-size: 18px; color: #fff; }
.gallery h3 strong { color: #ffb421; display: inline; font-size: 18px; }

.gallery__border { clear: both; margin-right: 36px; height: 0; border-bottom: 1px dashed #919aa3; }

.gallery_other { padding: 5px 6px 35px; }
.gallery_other li { width: 312px; margin: 0 12px 10px 0; padding: 0 0 5px 5px; overflow: hidden; }
.gallery_other img { float: left; margin: 0 10px 10px 0; }
.gallery_other .gallery__border { margin: 0; }
.gallery_other span, .gallery_other strong { display: block; }
.gallery_other span { color: #f5f5f5; font: normal 10px Tahoma,Arial,sans-serif; }
.gallery_other strong { color: #fff; font-size: 12px; }
.gallery_other b { color: #b5bfcb; font-weight: normal; }

.gallery-more { float: right; margin-top: 5px; color: #b5bfcb; }

.videogallery { margin-bottom: 14px; padding: 5px 5px 36px; background: #40454c; color: #f5f5f5; font-family: Tahoma, Arial, sans-serif; }
.videogallery ul { overflow: hidden; margin-right: -30px; }
.videogallery li { display: inline-block; width: 200px; overflow: hidden; margin: 0 16px 25px 0; vertical-align: top; }
.videogallery img { margin: 4px; }
.videogallery span { font-size: 11px; display: block; }
.videogallery a { font-size: 14px; color: #f5f5f5; }
.videogallery div { padding-left: 7px; }
.videogallery h3 { padding: 0 0 10px 0; font-weight: normal; font-size: 18px; }
.videogallery h3 strong { color: #ffb421; display: inline; font-size: 18px; }
.videogallery .gallery__border { margin: 0 10px; }
.videogallery .gallery-more { font-size: 12px; color: #b5bfcb; }

.video-preview { display: block; position: relative; }
.video-preview .icon_play { position: absolute; bottom: 2px; left: 5px; }
.video-preview img { display: block; }

.video { margin-bottom: 5px; padding: 10px 17px; background: #40454c; }

.video_cont { background: #f5f5f5; }

.video__wrap { position: relative; margin-bottom: 12px; -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3); box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3); }
.video__wrap img { display: block; }

.video__descr { position: absolute; bottom: 0; left: 0; width: 100%; height: 62px; background: #40454c; background: rgba(64, 69, 76, 0.8); }
.video__descr a { text-decoration: none; }
.video__descr .icon { margin: 3px 10px 0 7px; float: left; }
.video__descr span { overflow: hidden; display: block; padding-top: 10px; color: #fff; font-size: 14px; }

.get-video-code { float: right; text-decoration: none; cursor: pointer; }
.get-video-code img { display: block; }
.get-video-code span { display: none; margin: 0 2px; border: 2px solid #fff; border-top: 0; text-align: center; color: #fff; font-size: 14px; }

.video__like { clear: both; margin-bottom: 30px; }
.video__like span { display: block; margin-bottom: 4px; }

.com-counter { margin-bottom: 15px; font-size: 21px; font-weight: bold; color: #fff; text-transform: uppercase; }
.com-counter span { position: relative; padding: 1px 4px; color: #fff; font-size: 16px; font-weight: bold; background: #ff0402; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.com-counter span:before { content: ""; position: absolute; left: 4px; bottom: -5px; background: url('../img/icons-sd1c83eb31a.png') 0 -1752px no-repeat; width: 5px; height: 5px; }

.com-counter_news { color: #000; }

.content-title { margin: 0 0 15px; font-size: 26px; color: #1A5CA7; }
.content-title a { display: inline-block; margin-left: 10px; position: relative; top: -5px; color: #fff; font: normal 12px Tahoma, Arial, sans-serif; text-decoration: none; background: #78838f; padding: 3px 9px 4px 9px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.content-img { position: relative; margin: 5px 0; }
.content-img:hover .content-img__info { opacity: 1; }
.content-img img { display: block; }

.content-img__main { position: absolute; width: 655px; bottom: 0; left: 0; padding: 8px 10px 25px 10px; line-height: 1.1em; color: #fff; font-size: 32px; font-weight: bold; background: #000; background: rgba(0, 0, 0, 0.6); text-shadow: #030303 0px 1px 0px; }
.content-img__main a { position: relative; top: -5px; color: #fff; font: normal 12px Tahoma, Arial, sans-serif; text-decoration: none; background: #78838f; padding: 3px 9px 4px 9px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.content-img__info { position: absolute; left: 0px; top: 0px; width: 220px; padding: 10px; font-size: 11px; background: #000; background: rgba(0, 0, 0, 0.6); opacity: 0; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }

.content-img__descr { display: block; color: #b5bfcb; border-bottom: 1px solid; }

.content-img__author { display: block; color: #fff; }
.content-img__author span { text-transform: uppercase; }

.meta { margin-bottom: 5px; padding: 15px 0 5px; font-size: 12px; color: #565d66; border-bottom: 1px solid #989898; font-family: Tahoma, Arial, sans-serif; }

.meta__author { color: #565d66; text-decoration: none; font-size: 14px; padding-right: 5px; font-weight: bold; }

.meta__date { color: #565d66; text-decoration: underline; }

.breadcrumbs { margin-bottom: 5px; }
.breadcrumbs a { color: #565d66; text-decoration: none; }
.breadcrumbs span { padding: 0 1px; }
.breadcrumbs .active { font-weight: bold; color: #000; }

.content-info { margin: 0px 0px 2px -10px; padding: 5px 0px 11px 20px; font-size: 16px; background: #f5f5f5; }

.to-home { margin: 25px 0 15px; text-align: right; }
.to-home .icon { margin-right: 4px; }
.to-home a { font-size: 16px; color: #565d66; }

.sidebar-title { margin-bottom: 45px; padding-bottom: 5px; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #576069; font-family: Tahoma, Arial,sans-serif; background: #ebebeb; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(75%, #ffffff), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(top, #ffffff 75%, #ebebeb 100%); background-image: -moz-linear-gradient(top, #ffffff 75%, #ebebeb 100%); background-image: -o-linear-gradient(top, #ffffff 75%, #ebebeb 100%); background-image: linear-gradient(top, #ffffff 75%, #ebebeb 100%); }

.sidebar .all-link { margin: 10px 0; text-align: right; }
.sidebar .all-link a { font-size: 16px; color: #40454C; text-decoration: underline; }

.bloger { margin-bottom: 60px; color: #fff; }
.bloger a { text-decoration: none; }

.bloger__name { position: relative; margin-left: 50px; padding: 4px 0 5px 50px; line-height: 1.1em; font-size: 14px; background: #565D66; }
.bloger__name a { color: #fff; }
.bloger__name strong { display: block; font-size: 16px; text-transform: uppercase; }
.bloger__name img { position: absolute; left: -50px; bottom: 0; }

.bloger__spec { display: block; padding: 2px 10px 3px 10px; font-size: 11px; background: #78838f; }

.bloger__title { padding: 7px 0px 5px 3px; }
.bloger__title a { font-size: 16px; line-height: 1.1em; color: #1a5ca7; }

.bloger__text { padding: 7px 12px 12px; background: #f5f5f5; }
.bloger__text a { color: #565d66; font-size: 12px; }
.bloger__text span { color: #f00; font-weight: bold; }

.related { overflow: hidden; margin: 15px 0 0 -10px; font-size: 12px; border-top: 1px solid #989898; -webkit-box-shadow: 0 8px 15px -10px #989898; -moz-box-shadow: 0 8px 15px -10px #989898; box-shadow: 0 8px 15px -10px #989898; }

.related__title { float: left; padding: 10px; width: 160px; }
.related__title strong { color: #e40000; font-size: 16px; font-weight: bold; }
.related__title a { color: #40454c; font-weight: bold; text-decoration: none; }

.related__main { overflow: hidden; float: right; width: 483px; padding: 10px; background: #f5f5f5; }
.related__main ul { float: left; margin-right: 10px; width: 150px; }
.related__main li { margin-bottom: 11px; }
.related__main a { color: #000; text-decoration: none; }
.related__main span { color: #78838f; }

.actual-news { margin-bottom: 15px; color: #fff; }
.actual-news img { display: block; }

.actual-news__img { position: relative; display: block; color: #fff; }

.actual-news__title { position: absolute; bottom: 0; left: 0; right: 0; padding: 5px 10px 8px; font-size: 18px; line-height: 1.2em; background: #000; background: rgba(0, 0, 0, 0.5); }

.actual-news__descr { padding: 3px 10px 12px; font-size: 14px; border-top: 1px solid #6f7175; color: #fff; background: #40454c; }
.actual-news__descr span { padding-right: 3px; color: #ffb421; }

.video-scroller { position: relative; margin-bottom: 20px; background: #40454c; -webkit-box-shadow: inset 0 6px 15px -5px rgba(0, 0, 0, 0.8); -moz-box-shadow: inset 0 6px 15px -5px rgba(0, 0, 0, 0.8); box-shadow: inset 0 6px 15px -5px rgba(0, 0, 0, 0.8); }
.video-scroller .video { float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 20px 15px 20px 10px; margin-bottom: 0; background: #565d66; }
.video-scroller .video__wrap { width: 395px; overflow: hidden; }

.video-bar__wrap { position: relative; overflow: hidden; height: 293px; }
.video-bar__wrap ul { position: absolute; left: 0; top: 0; }

.media-label { position: absolute; z-index: 2; top: -16px; left: 0; padding: 0 10px; height: 33px; color: #fff; font: bold 21px/33px Tahoma,Arial,sans-serif; text-transform: uppercase; background: #da0800; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.video-scroller__title { display: inline-block; margin-bottom: 10px; color: #fff; font: bold 18px Tahoma,Arial,sans-serif; text-decoration: none; }

.video-bar { position: relative; float: right; padding: 19px 10px 40px; width: 210px; background: none; }
.video-bar ul { height: 100%; }
.video-bar li { overflow: hidden; margin-bottom: 20px; }
.video-bar a { color: #fff; font-size: 12px; line-height: 14px; overflow: hidden; }
.video-bar img { float: left; margin: 0 5px 5px 0; border: 1px solid #aab0b7; }
.video-bar .other__scrolldown { width: 170px; }

.video-bar__title { font-size: 18px; font-weight: normal; color: #ffb421; text-align: center; padding-bottom: 8px; }

.comment { font-size: 14px; line-height: 1.2; }
.comment li { padding: 15px 0 20px; border-bottom: 1px solid #d0d0d0; }

.comment_media { background: #40454c; }
.comment_media li { padding-left: 25px; border-bottom: 1px solid #78838f; }
.comment_media .comment__info .no-reg { color: #fff; font-weight: bold; }
.comment_media .comment__author-status span { color: #b5bfcb; }
.comment_media .comment__author { color: #fff; font-weight: bold; }

.comment__user-img { float: left; width: 50px; height: 50px; overflow: hidden; -webkit-box-shadow: -2px 2px 3px #cfcfcf; -moz-box-shadow: -2px 2px 3px #cfcfcf; box-shadow: -2px 2px 3px #cfcfcf; }

.comment__body { margin-left: 60px; }

.comment__info { float: left; }
.comment__info .no-reg { color: #000; cursor: default; }

.comment__author { color: #1a5ca7; font-size: 16px; text-decoration: none; }

.comment__date { display: block; font-size: 11px; color: #989898; }

.comment__meta { float: right; text-align: right; padding: 0 10px 10px 0; }
.comment__meta:hover .tooltip { display: block; }

.comment__author-status { position: relative; }
.comment__author-status * { vertical-align: middle; }
.comment__author-status span { display: block; font-size: 12px; color: #78838f; }
.comment__author-status strong { color: #a1a1a1; font-size: 11px; text-decoration: underline; font-weight: normal; }

.tooltip { display: none; position: absolute; z-index: 1000; right: 10px; top: 40px; padding: 13px 8px 10px 20px; width: 495px; font-size: 12px; color: #565d66; line-height: 1.2; border: 1px solid #ccc9c2; background: #f5f2e9; text-align: left; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0px 0px 13px 0px #aaa9a9; -moz-box-shadow: 0px 0px 13px 0px #aaa9a9; box-shadow: 0px 0px 13px 0px #aaa9a9; }
.tooltip p { margin: 10px; }
.tooltip strong { display: block; margin: 5px 0; font-size: 16px; color: #1a5ca7; }
.tooltip:before { content: ""; position: absolute; top: -7px; right: 10px; background: url('../img/icons-sd1c83eb31a.png') 0 -1592px no-repeat; width: 7px; height: 7px; }
.tooltip .reg { font-size: 12px; color: #1a5ca7; font-weight: bold; text-transform: uppercase; }

.comment__text { clear: both; position: relative; top: -10px; }

.comment__bottom { overflow: hidden; }
.comment__bottom .btn-gray { float: left; }
.comment__bottom .fake { float: right; margin-right: 10px; background: url('../img/icons-sd1c83eb31a.png') 0 -1349px no-repeat; width: 16px; height: 19px; }

.btn-gray { display: inline-block; text-align: center; padding: 0 10px; height: 20px; color: #565d66; line-height: 20px; font-size: 12px; font-weight: bold; border: 1px solid #c8cbcd; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #dfdfdf; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #ffffff), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -moz-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: -o-linear-gradient(top, #ffffff 30%, #dfdfdf 100%); background-image: linear-gradient(top, #ffffff 30%, #dfdfdf 100%); }
.btn-gray:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(50%, #ffffff)); background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -moz-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: -o-linear-gradient(top, #dfdfdf 0%, #ffffff 50%); background-image: linear-gradient(top, #dfdfdf 0%, #ffffff 50%); }

.add-comment { border: 1px solid #dadada; padding: 9px 18px 25px 20px; position: relative; margin-bottom: 20px; background: #f5f5f5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5)); background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5); background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5); background-image: -o-linear-gradient(top, #ffffff, #f5f5f5); background-image: linear-gradient(top, #ffffff, #f5f5f5); }
.add-comment textarea { margin-bottom: 10px; width: 612px; }
.add-comment .char-counter { float: left; padding-top: 7px; }
.add-comment .btn-gray { float: right; height: 30px; width: 180px; font-size: 16px; }

.add-comment__title { position: relative; display: block; padding-bottom: 10px; margin-bottom: 12px; font-size: 18px; color: #40454c; border-bottom: 1px solid #bbc0c6; }
.add-comment__title .wtf { position: absolute; right: 0; top: 0; padding-bottom: 20px; cursor: pointer; font-size: 12px; color: #40454c; text-decoration: underline; }
.add-comment__title .wtf:hover .tooltip { display: block; }
.add-comment__title .wtf span, .add-comment__title .wtf i { display: inline-block; vertical-align: middle; font-size: 12px; color: #40454c; }
.add-comment__title .wtf span { text-decoration: underline; }
.add-comment__title .wtf span:hover { text-decoration: none; }
.add-comment__title .wtf i { margin-right: 10px; background: url('../img/icons-sd1c83eb31a.png') 0 -924px no-repeat; width: 26px; height: 26px; }
.add-comment__title .wtf .tooltip { top: 30px; font-weight: normal; }

.add-comment__head { overflow: hidden; margin-bottom: 12px; }
.add-comment__head div { overflow: hidden; }
.add-comment__head .input-text { float: left; }
.add-comment__head .input-text input { overflow: hidden; padding: 1px 9px; }
.add-comment__head .input-text span { display: block; }

.add-comment__user { float: left; margin-right: 10px; width: 36px; height: 36px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.add-comment__soc { float: right; }
.add-comment__soc span { float: left; margin-right: 10px; width: 110px; font-size: 12px; color: #78838f; vertical-align: middle; }
.add-comment__soc .soc { margin-top: 6px; }

.char-counter { color: #78838f; font-size: 12px; }
.char-counter span { color: #197b30; }

.add-comment_media { background: #40454c; border: 0; }
.add-comment_media .add-comment__title { color: #ffb421; }
.add-comment_media .wtf span { color: #fff; }
.add-comment_media .char-counter { color: #fff; }
.add-comment_media .char-counter span { color: #25ba48; }

.btn-gray_big { margin-bottom: 30px; width: 100%; height: 35px; }

.prof { overflow: hidden; }

.prof__left { float: left; margin-right: 20px; padding: 12px 0 20px; width: 175px; background: #e8e9ec; border: 1px solid #b2b5b9; -webkit-box-shadow: inset -7px 0 9px -4px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset -7px 0 9px -4px rgba(0, 0, 0, 0.2); box-shadow: inset -7px 0 9px -4px rgba(0, 0, 0, 0.2); }

.prof__right { overflow: hidden; }

.prof__head { text-align: center; }

.prof__img { display: block; margin: 0 auto; width: 50px; height: 50px; overflow: hidden; border: 5px solid #fff; }

.prof__rate { display: inline-block; margin-bottom: 12px; padding: 2px 8px 0; background: #fff; }
.prof__rate i { display: inline-block; }
.prof__rate .positive { background: url('../img/icons-sd1c83eb31a.png') 0 -1668px no-repeat; width: 16px; height: 15px; }
.prof__rate .negative { background: url('../img/icons-sd1c83eb31a.png') 0 -1693px no-repeat; width: 16px; height: 15px; }
.prof__rate span { color: #6d8e02; vertical-align: middle; }

.prof__name { display: block; padding: 0 14px; font-size: 14px; color: #2e1a00; margin-bottom: 13px; }

.prof__nav li { border-top: 1px solid #fff; }
.prof__nav li:first-child { border-top: 0; }
.prof__nav a { display: block; padding: 9px 14px; color: #566069; font-weight: bold; text-decoration: none; }

.link-to-blog { height: 31px; line-height: 31px; text-align: center; background: #dadde0; border: 1px solid #b6b6b6; -webkit-box-shadow: inset 0 -4px 7px -2px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 -4px 7px -2px rgba(0, 0, 0, 0.2); box-shadow: inset 0 -4px 7px -2px rgba(0, 0, 0, 0.2); }
.link-to-blog a { border-bottom: 1px dashed; text-decoration: none; }

.wall li { position: relative; margin-top: -1px; padding: 10px 16px 12px; border: 1px solid #b6b6b6; }
.wall li .corner { content: ""; position: absolute; right: 0; top: 0; background: url('../img/icons-sd1c83eb31a.png') 0 -764px no-repeat; width: 40px; height: 40px; }
.wall li img { float: left; margin-right: 20px; }
.wall a { color: #195ca7; text-decoration: none; }
.wall p { margin-bottom: 10px; }

.wall__meta { color: #3d3d3d; margin-bottom: 5px; }
.wall__meta i { color: #aaa2a2; font-size: 12px; }

.wall__user { display: inline-block; }
.wall__user i { display: inline-block; margin-right: 5px; vertical-align: bottom; background: url('../img/icons-sd1c83eb31a.png') 0 -1226px no-repeat; width: 17px; height: 18px; }

.wall__title { font-size: 16px; margin-bottom: 10px; }

.wall__footer { overflow: hidden; }

.wall__com { float: left; font-size: 11px; text-decoration: none; }
.wall__com i { display: inline-block; vertical-align: baseline; background: url('../img/icons-sd1c83eb31a.png') 0 -1626px no-repeat; width: 14px; height: 13px; }
.wall__com span { color: #000; }

.wall__opt { font-size: 10px; float: right; }
.wall__opt i, .wall__opt span { margin-right: 5px; vertical-align: middle; display: inline-block; }
.wall__opt a { margin-right: 5px; }
.wall__opt .plus { color: #7b970f; }
.wall__opt .plus i { background: url('../img/icons-sd1c83eb31a.png') 0 -1015px no-repeat; width: 20px; height: 20px; }
.wall__opt .minus { color: #ca1b25; }
.wall__opt .minus i { background: url('../img/icons-sd1c83eb31a.png') 0 -1045px no-repeat; width: 20px; height: 21px; }
.wall__opt .favorite { color: #195ca7; }
.wall__opt .favorite i { background: url('../img/icons-sd1c83eb31a.png') 0 -1141px no-repeat; width: 16px; height: 15px; }

.columnist { overflow: hidden; background: #F5F2E9; }

.columnist__img { float: left; margin-right: 20px; border: 8px solid #E5E2DA; }

.columnist__main { overflow: hidden; font-size: 14px; }

.columnist__title { font-size: 35px; }

.title-l-2_tabs a { color: #40454c; font-size: 16px; font-weight: normal; text-decoration: none; }
.title-l-2_tabs a:before { content: "|"; margin-right: 10px; }
.title-l-2_tabs a:first-child:before { display: none; }
.title-l-2_tabs .is-active { font-size: 24px; color: #000; font-weight: bold; }
.title-l-2_tabs + .article { border-top: 0; }

.wrapper_bloger { padding-top: 40px; }

.bloger_small { float: left; width: 330px; margin-right: 15px; }

.title-l-1_mod span { margin-top: 0; }

.video-scroller .video_mod { width: 420px; padding: 0 0 10px; background: none; }
.video-scroller .video_mod .video__descr { padding: 3px 10px 6px 10px; font-size: 18px; font-weight: bold; }
.video-scroller .other { width: 235px; margin-bottom: 0; overflow: hidden; background: #565D66; }

.paper-bar { padding-bottom: 10px; }
.paper-bar img { margin-bottom: 10px; }

.paper-bar__link img { border: 0; }

.video__info { padding: 0 10px; font-size: 18px; color: #fff; }
.video__info span { color: #ffb421; font-size: 12px; }

.archive-item .archive-item__btn { color: #fff; }
.archive-item img { margin-bottom: 10px; }

.archive-item__btn { display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #70c748; font-size: 18px; font-weight: bold; padding: 0 13px; height: 34px; line-height: 34px; text-decoration: none; text-shadow: 1px 1px 2px #20421a; white-space: nowrap; background: #77c82a; -webkit-box-shadow: 0px 1px 0px 0px #78ca2b; -moz-box-shadow: 0px 1px 0px 0px #78ca2b; box-shadow: 0px 1px 0px 0px #78ca2b; background: #249100; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzI0OTEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3YzgyYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #249100), color-stop(100%, #77c82a)); background-image: -webkit-linear-gradient(bottom, #249100 5%, #77c82a 100%); background-image: -moz-linear-gradient(bottom, #249100 5%, #77c82a 100%); background-image: -o-linear-gradient(bottom, #249100 5%, #77c82a 100%); background-image: linear-gradient(bottom, #249100 5%, #77c82a 100%); }
.archive-item__btn:hover { background: #77c82a; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzI0OTEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3YzgyYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #249100), color-stop(100%, #77c82a)); background-image: -webkit-linear-gradient(top, #249100 5%, #77c82a 100%); background-image: -moz-linear-gradient(top, #249100 5%, #77c82a 100%); background-image: -o-linear-gradient(top, #249100 5%, #77c82a 100%); background-image: linear-gradient(top, #249100 5%, #77c82a 100%); }

.quiz-promo { overflow: hidden; margin: 24px 0 18px; color: #fff; font-size: 16px; background: #565D66; }
.quiz-promo img { float: left; margin-right: 20px; }

.quiz-promo__text { padding: 10px; }

.quiz img { float: left; border: 1px solid #989898; }

.quiz { font-size: 18px; }

.quiz__top { overflow: hidden; margin-bottom: 5px; padding-top: 20px; }
.quiz__top img { float: left; margin-right: 20px; }

.quiz__text { overflow: hidden; color: #565d66; }

.quiz__counter { color: #000; }
.quiz__counter strong { color: #e50b00; }

.quiz__bottom { padding: 15px 10px 10px; margin-bottom: 25px; background: #f5f5f5; }
.quiz__bottom div { margin-bottom: 10px; }
.quiz__bottom label { font-size: 16px; }
.quiz__bottom input { margin-right: 10px; }

.quiz__next { border-top: 1px solid #989898; padding-top: 10px; text-align: center; }

.quiz__next-btn { display: inline-block; padding: 0 20px; height: 38px; font-size: 18px; color: #fff; font-weight: bold; border: 1px solid #71c748; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; background: #319701; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZWM2MiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMzE5NzAxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8ec62), color-stop(20%, #319701)); background-image: -webkit-linear-gradient(top, #d8ec62, #319701 20%); background-image: -moz-linear-gradient(top, #d8ec62, #319701 20%); background-image: -o-linear-gradient(top, #d8ec62, #319701 20%); background-image: linear-gradient(top, #d8ec62, #319701 20%); }
.quiz__next-btn:hover { background: #319701; }

.radio { background: #f5f5f5; margin-top: 10px 0; padding: 7px 12px 5px 12px; overflow: hidden; }

.radio__player { margin-bottom: 20px; }

.radio__nav a { display: inline-block; padding: 2px 5px; margin: 0 4px 4px 0; color: #40454c; font-size: 14px; text-decoration: underline; }
.radio__nav .is-active { background: #f00; color: #fff; text-decoration: none; text-transform: uppercase; }

.radio-subsr { margin: 10px 0; }

.title-tv { font-size: 36px; color: #fff; text-align: center; }

.tv-online-scroller { background: #40454c; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.tv-online-scroller .video { background: none; }
.tv-online-scroller .video__wrap { width: 640px; }
.tv-online-scroller .video-bar { float: none; width: auto; background: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.title-orange { margin-bottom: 10px; padding: 3px 10px; text-align: center; color: #fff; font-weight: bold; font-size: 24px; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); background: #e07c00; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhOWUwYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwN2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea9e0c), color-stop(100%, #e07c00)); background-image: -webkit-linear-gradient(top, #ea9e0c, #e07c00); background-image: -moz-linear-gradient(top, #ea9e0c, #e07c00); background-image: -o-linear-gradient(top, #ea9e0c, #e07c00); background-image: linear-gradient(top, #ea9e0c, #e07c00); }

.tv-prog-scroll { color: #fff; }
.tv-prog-scroll li { margin-bottom: 5px; padding: 3px 7px; }
.tv-prog-scroll li:nth-child(2n) { background: #565d66; }

.tv-prog-scroll__time { float: left; width: 60px; font-size: 18px; font-weight: bold; }

.tv-prog-scroll__main { overflow: hidden; font-size: 14px; }

.about-tv { padding: 20px; color: #fff; font-size: 14px; border: 1px solid #7b828c; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; background: #78828e; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4ODI4ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVkNjE2YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78828e), color-stop(100%, #5d616c)); background-image: -webkit-linear-gradient(top, #78828e, #5d616c); background-image: -moz-linear-gradient(top, #78828e, #5d616c); background-image: -o-linear-gradient(top, #78828e, #5d616c); background-image: linear-gradient(top, #78828e, #5d616c); }
.about-tv a { color: #fff; }

.about-tv__title { font-size: 28px; }

.about-tv__col { margin-bottom: 20px; -webkit-column-count: 3; -moz-column-count: 3; -ms-column-count: 3; -o-column-count: 3; column-count: 3; }
