.topic { *zoom: 1; }
.topic:before, .topic:after { content: " "; display: table; }
.topic:after { clear: both; }

.index .header { padding-top: 48px; }
.index .top-bar { margin-top: 0 !important; }

.topic .topic__left { width: 420px; float: left; padding-top: 10px; }
.topic .topic__right { float: right; width: 245px; }
.topic .title-l-1_small { font-size: 36px; margin-bottom: 7px; }
.topic .article { border-bottom: 1px solid #c9cdd2; margin-bottom: 12px; }

.other { background: #f5f5f5; padding: 8px; }
.other a { color: #1A5CA7; }
.other h2 { color: #40454C; height: 30px; line-height: 30px; }
.other .other__content { height: 540px; overflow: hidden; font-size: 14px; }
.other .other__content dt { font-style: italic; }
.other .other__content dd { margin-left: 10px; margin-bottom: 10px; }
.other .other__content dd a { text-decoration: none; }
