@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";

// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
@mixin hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
@mixin clr{
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
}

@mixin user-select() {
     -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}