.lteie8{
   .nav {
      background: #727e8a ;
   }
   .footer {
       background: #626a74;
   }
   .search__text {
       line-height: 30px;
   }
   .search {
      span {
          display: none;
      }
   }
   .overlay {
      background: #000;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50) !important;
   }
}
// ie7
*+ html {
    .footer__news li, 
    .about, .captcha *,
    .popup .input-text  {
      display: inline;
    }
    .btn-reg {
      line-height: 1 !important;
    }
}

// ie6
* html {
   .top-bar {
       position: absolute;
   }
   .nav-spec, .nav {
      a, li {
          display: inline;
      }
   }
   .header__links {
       clear: both;
   }
   .header__widgets {
       margin-bottom: 20px;
   }
   .nav {
      height: 27px;
   }
   .search {
      background: none;
   }
    .footer__news li, 
    .about, .captcha *, 
    .nav .active span, 
    .nav .active {
      display: inline;
    }
    .about {
      margin-right: 20px;
    }
    .form {
        height: 100%;
    }
}