@import "base";
// Online news
.news-online {
    li {
        overflow: hidden;
        padding: 7px 5px 6px;
        border-bottom: 1px solid #c9cdd2;
        &:hover {
            background: #f5f5f5;
            @include transition(background, 0.2s, ease-in-out);
            span {
                color: #e50b00;
            }
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            span {
                color: #e50b00;
            }
        }
    }
    a {
        font-size: 18px;
        text-decoration: none;
    }
    img {
        float: left;
        padding: 5px 10px 8px 0px;
    }
    span {
        float: left;
        padding-right: 6px; 
        color: #565d66;
        font-weight: bold;
    }
    strong {
        color: #e50b00;
    }
    h2 {
        padding-bottom: 4px;
        color: #1a5ca7; 
        font-size: 18px;
    }
    p {
        color: #000;
        font-size: 14px;
    }
}
.news-archive {
    padding: 5px 15px 1px;
    margin: 15px 0px 20px;
    background: #f5f5f5;
    li {
        overflow: hidden;
        margin-bottom: 10px;
        &:last-child {
            padding-bottom: 8px;
            border-bottom: 1px solid #989898;
        }
    }
    h2 {
        font:normal 18px Tahoma,Arial,Helvetica,sans-serif;
        margin-top: 4px;
    }
    span {
        float: left;
        width: 50px;
        color: #989898;
        font-size: 12px;
    }
    a {
        float: left;
        margin-right: 8px;
        color: #565d66;
        &:first-child {
            margin-right: 20px;
        }
    }
    .active {
        position: relative;
        top: -2px;
        color: #e50b00;
        font-size: 14px;
        font-weight: bold;
    }
}
.sidebar__banner {
    text-align: center;
    margin-bottom: 10px;
}
// sidebar elements
.soc-tabs {
    overflow: hidden;
    margin: 20px 0 0;
    li {
        float: left;
        margin-right: 3px;
        height: 26px;
        width: 49px;
        border: 2px solid #e6e6e6;
        border-bottom: #000;
        background: #efede7;
        @include border-radius(10px 10px 0 0);
        cursor: pointer;
        text-align: center;
    }
    .active {
        @include background-image(linear-gradient(top, #efede7 0%, #fff 30%));
    }
}
.tab-soc-cont {
    display: none;
    padding: 5px;
    border: 2px solid #e6e6e6;
}
.info-block {
    margin: 40px 0 20px;
    strong {
        display: inline-block;
        padding: 0 10px;
        height: 26px;
        font: bold 15px/26px Tahoma, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        border: 1px solid #d7d7d7;
        border-bottom: 0;
        @include background-image(linear-gradient(top, #fff 10%, #efefef 100%));
    }
    li {
        padding: 5px 0;
        overflow: hidden;
        border-bottom: 1px solid #d8d8d8;
    }
    ul{
        padding: 15px 9px;
        border: 1px solid #d7d7d7;
        @include background-image(linear-gradient(top, #efefef 0%, #fff 15%, #fff 85%, #efefef 100%));
    }
    a {
        text-decoration: none;
    }
    img {
        float: left;
        margin: 5px 10px 4px 0;
        @include box-shadow(-1px 1px 4px rgba(0,0,0,0.3));
    }
    h1 {
        color: #40454c;
        font-size: 14px;
    }
}
.info-block_spec {
    ul {
        padding: 0 9px;
    }
    li {
        padding: 10px 0;
        &:last-child {
            border-bottom: none;
        }
    }
    h1 {
        font-size: 13px;
    }
    p {
        font-size: 11px;
        line-height: 12px;
    }
}
.fb-reg {
    margin: 20px 0 30px;
    display: block;
    height: 70px;
    background: url(../img/fb-reg.png) 0 0 no-repeat;
}
.news-sidebar {
    margin: 30px 0;
    h1 {
        float: left;
        color: #fff;
        padding: 3px 9px 3px 9px;
        letter-spacing: 0.6pt;
        text-transform: uppercase;
        font: bold 15px Tahoma, Arial, Helvetica, sans-serif;
        text-shadow: 1px 2px 3px #383D43;
        @include background-image(linear-gradient(top, #788F88 0%, #5C646D 70%));
    }
    ul {
        padding: 4px 3px 2px;
        background: #f5f5f5;
        clear: both;
    }
    li {
        margin-bottom: 2px;
        padding: 10px;
        height: 100%;
        background: #fff;
        border: 1px solid #e4e4e4;
        overflow: hidden;
    }
    a {
        color: #000;
        text-decoration: none;
    }
    img {
        float: left;
        margin-right: 10px;
    }
    p {
        color: #000;
    }
}
.yandex-direct,
.bank-widget,
.books-widget {
    margin: 30px 0;
}
.l-cols_media {
    .news-sidebar {
        ul {
            background: #40444d;
        }
        li {
            background: #565D67;
            border: 1px solid #3c4049;
        }
    }
    .info-block {
        strong, ul {
            background: none;
            border: 1px solid #40444d;
            color: #fff;
        }
        li {
            border-bottom: 1px solid #40444d;
            &:last-child {
                border-bottom: none;
            }
        }
        strong {
            border-bottom: none;
        }
        h1 {
            color: #fff;
        }
    }
}
// About
.about-wrap {
    margin-right: -40px;
    padding: 20px 0;
    overflow: hidden;
}
.about {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 0 27px 27px 0;
    width: 310px;
    div {
        overflow: hidden;
        height: 100%;
        a {
            font-size: 14px;
        }
    }
    a {
        font-size: 13px;
        color: #40454c;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        float: left;
        margin: 0 10px 10px 0;
    }
}
.about__title {
    padding-bottom: 5px;
    border-bottom: 1px solid #78838F;
    margin-bottom: 10px;
    font: bold 18px Tahoma, Arial, Helvetica, sans-serif;
    a {
        color: #000;
    }
}
.about__descr {
    display: block;
    padding: 10px 10px 5px;
    line-height: 15px;
    background: #f5f2e9;
}
.add-nav {
    margin-bottom: 23px;
    padding: 7px 0px 12px 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    font-size: 12px;
    a {
        color: #40454c;
    }
    a.active {
        color: #e50b00;
    }
} 
.add-nav__list {
    overflow: hidden;
    a {
        float: left;
        margin-right: 12px;
        font-size: 14px;
    }
}
.add-nav__region {
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    i {
        margin-right: 5px;
    }
    strong {
        color: #e50b00;
        font-weight: normal;
    }
}
.add-nav__cities {
    display: none;
    overflow: hidden;
    padding-top: 10px;
    a {
        float: left;
        margin-right: 16px;
    }
}
.archive-title {
    padding: 0 0 10px 10px;
    span {
        font-weight: normal;
        color: #e50b00;
        text-transform: capitalize;
    }
}
.archive-item {
    overflow: hidden;
    li {
        float: left;
        margin: 0px 0px 11px 60px;
        overflow: hidden;
        padding: 12px 0 30px;
        width: 246px;
        text-align: center;
        &:hover {
            background: #f5f5f5;
        }
    }
    a {
        font-size: 16px;
        color: #565d66;
        text-decoration: none;
    }
    span {
        display: block;
        margin-bottom: 12px;
    }
    img {
        border: 1px solid #989898;
        box-shadow: -2px 2px 2px 0px #d9d9d9;  
    }
    
}
.articles-title {
    font-size: 18px;
    margin: 10px 0;
}
.article {
    margin-bottom: 12px;
    overflow: hidden;
    img {
        float: left;
        margin: 4px 10px 0 0;
    }
    a {
        color: #1a5ca7;
        font-size: 18px;
        text-decoration: none;
        display: block;
        @extend %clr;
        margin-bottom: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    h1 {
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 8px;
        strong {
            color: #f00;
        }
    }
}
.article_mod {
    font-size: 14px;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    span {
        padding-right: 2px;
        color: #989898;
        font-size: 12px;
    }
    &:last-child {
        border: 0;
    }
    p {
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
}
.article_small {
    padding: 7px 0px 10px 0px;
    border-top: 1px solid #d6d6d6;
    h1 {
        font-size: 14px;
    }
    &:first-child {
        border: none;
    }
}
.article_width {
    padding-top: 10px;
    font-size: 14px;
    border-top: 1px solid #c9cdd2;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    span {
        padding-right: 2px;
        color: #989898;
        font-size: 12px;
    }
    &:first-child {
        border: 0;
    }
    p {
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
}

.article-categ {
    padding-bottom: 4px;
    font-size: 21px;
    font: normal 21px Tahoma, Arial, sans-serif;
    border-bottom: 1px solid #78838f;
    a {
        color: #40454c;
        text-decoration: none;
    }
}
.press-nav {
    ul {
        padding: 0 10px;
        border: 1px solid #dadada;
        @include background-image(linear-gradient(top, #fff 5%, #f5f5f5 100%));
    }
    li {
        padding: 8px 5px;
        border-top: 1px solid #989898;
        
        font-size: 14px;
        &:first-child {
            border-top: 0;
        }
        span {
            display: block;
            font-size: 14px;
            color: #78838f;        
        }
    }
    a {
        color: #40454c;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.press-nav__title {
    display: inline-block;
    padding: 0 15px 0 10px;
    height: 29px;
    color: #fff;
    text-transform: uppercase;
    font: bold 15px/29px Tahoma, Arial, sans-serif;
    text-shadow: 3px 3px 2px #C56D00;
    @include background-image(linear-gradient(top, #ea9f0e 5%, #dd7b00 100%));
}

.content {
    padding-top: 15px;
    font-size: 16px;
    line-height: 21px;
    h3 {
        margin-bottom: 15px;
        color: #565d66;
        font-weight: normal;
        font-size: 20px;
    }
    p {
        margin-bottom: 10px;
    }
    img {
        float: left;
        margin: 0 10px 10px 0;
    }
}
.question {
    font-size: 14px;
    line-height: 21px;
    ul {
        margin-bottom: 15px;
        padding: 10px 0 25px 15px;
        border-bottom: 1px solid #d0d0d0;
        li {
            padding: 5px;
            background: #f5f5f5;
        }
    }
}
.question__author {
    font: bold 16px/13px Tahoma, Arial, sans-serif;
}
.question__date {
    display: block;
    margin-bottom: 5px;
    color: #989898;
    font: normal 11px Tahoma, Arial, sans-serif;
}
//actions
.actions-title {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-bottom: 3px;
    font-weight: normal;
    color: #565d66;
    a {
        color: #565d66;
        text-decoration: none;
    }
}
.actions-pic {
    overflow: hidden;
}
.actions-pic__top {
    position: relative;
    @include box-shadow(rgba(0,0,0,0.4) 0 0 7px);
    img {
        display: block;
    }
    span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 310px;
        padding: 6px 10px 14px 10px;
        background: rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        text-decoration: none;
    }
}
.actions-pic__down {
    width: 310px;
    margin-bottom: 6px;
    padding: 6px 10px 15px 10px;
    border-bottom: 1px solid #d6d6d6;
    background: #f5f5f5;    
    a {
        font-size: 14px;
        text-decoration: none;
        color: #000;
    }
}
.actions-list {
    li {
        padding: 7px 0px 10px 0px;
        border-top: 1px solid #d6d6d6;
        &:first-child {
            border: none;
        }
    }
    p {

    }
}
.actions-list__title {
    margin-bottom: 5px;
    overflow: hidden;
    img {
        float: left;
        margin-right: 10px;
    }
    a {
        font-size: 14px; 
        color: #1a5ca7;
        text-decoration: none;
    }
}
.actions-list__desc {
    a {
        font-size: 12px;
        color: #000;
        text-decoration: none;
    } 
}

// photo/video 
.media-title {
    margin-bottom: 13px;
    color: #fff;
    border-bottom: 1px dashed #919aa3;
    a {
        font-size: 26px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    }
    span {
        position: relative;
        top: -3px;
        padding: 0 4px;
        font-size: 20px;
    }
    h4 {
        display: inline;
        color: #ffb421;
        font-weight: normal;
        font-size: 24px;
    }
}
.media-title_mod {
    border-bottom: 0;
    strong {
        font-size: 23px;
    }
}
.media-cont {
    color: #fff;
    h1 {
        padding: 0 10px 10px;
        font: normal 18px Tahoma, Arial, sans-serif;
    }
    h3 {
        padding: 0 0 4px 11px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.gallery-info {
    padding: 0 0 13px 11px;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    span {
        color: #ffb421;
        font-weight: bold;
    }
}
.gallery {
    position: relative;
    margin-bottom: 14px;
    padding: 20px 0 15px 36px;
    background: #40454c;
    ul {
        overflow: hidden;
    }
    li {
        float: left;
        margin: 0 30px 20px 0;
        
    }
    a {
        text-decoration: none;
    }
    img {
        @include box-shadow(-1px 1px 3px rgba(0,0,0,0.5));
    }
    h3 {
        padding: 0 0 10px 0;
        font-weight: normal;
        font-size: 18px;
        color: #fff;
        strong {
            color: #ffb421;
            display: inline;
            font-size: 18px;
        }
    }
}
.gallery__border {
    clear: both;
    margin-right: 36px;
    height: 0;
    border-bottom: 1px dashed #919aa3;
}
.gallery_other {
    padding: 5px 6px 35px;
    li {
        width: 312px;
        margin: 0 12px 10px 0;
        padding: 0 0 5px 5px;
        overflow: hidden;
    }
    img {
        float: left;
        margin: 0 10px 10px 0;
    }
    .gallery__border {
        margin: 0;
    }
    span, strong {
        display: block;
    }
    span {
        color: #f5f5f5;
        font: normal 10px Tahoma,Arial,sans-serif;
    }
    strong {
        color: #fff;
        font-size: 12px;
    }
    b {
        color: #b5bfcb;
        font-weight: normal;
    }
}
.gallery-more {
    float: right;
    margin-top: 5px;
    color: #b5bfcb;
}
.videogallery {
    margin-bottom: 14px;
    padding: 5px 5px 36px;
    background: #40454c;
    color: #f5f5f5;
    font-family: Tahoma, Arial, sans-serif;
    ul {
        overflow: hidden;
        margin-right: -30px;
    }
    li {
        display: inline-block;
        margin: 0 16px 25px 0;
        vertical-align: top;
    }
    img {
        margin: 4px;
    }
    span {
        font-size: 11px;
        display: block;
    }
    a {
        font-size: 14px;
        color: #f5f5f5;
    }
    div {
        padding-left: 7px;
    }
    h3 {
        padding: 0 0 10px 0;
        font-weight: normal;
        font-size: 18px;
        strong {
            color: #ffb421;
            display: inline;
            font-size: 18px;
        }
    }
    .gallery__border {
        margin: 0 10px;
    }
    .gallery-more {
        font-size: 12px;
        color: #b5bfcb;
    }
}
.video-preview {
    display: block;
    position: relative;
    .icon_play {
        position: absolute;
        bottom: 2px;
        left: 5px;
    }
    img {
        display: block;
    }
}
.video {
    margin-bottom: 5px;
    padding: 10px 17px;
    background: #40454c;
}
.video_cont {
    background: #f5f5f5;
}
.video__wrap {
    position: relative;
    margin-bottom: 12px;
    @include box-shadow(-2px 2px 5px rgba(0,0,0,0.3));
    img {
        display: block;
    }
}
.video__descr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background: rgba(64,69,76,0.8);
    a {
        text-decoration: none;
    }
    .icon {
        margin: 3px 10px 0 7px;
        float: left;
    }
    span {
        overflow: hidden;
        display: block;
        padding-top: 10px;
        color: #fff;
        font-size: 14px;
    }
}
.get-video-code {
    float: right;
    text-decoration: none;
    cursor: pointer;
    img {
        display: block;
    }
    span {
        display: none; 
        margin: 0 2px;
        border: 2px solid #fff;
        border-top: 0;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }
}
.video__like {
    clear: both;
    margin-bottom: 30px;
    span {
        display: block;
        margin-bottom: 4px;
    }

}
.com-counter {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    span {
        position: relative;
        padding: 1px 4px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        background: #ff0402;
        @include border-radius(2px);
        &:before {
            content: "";
            position: absolute;
            left: 4px;
            bottom: -5px;
            @include sized-sprite($icons, arr3); 
        }
    }
}
.com-counter_news {
    color: #000;
}
.content-img { 
    position: relative;
    margin: 5px 0;
    &:hover {
        .content-img__info {
            opacity: 1;
        }
    }
    img {
        display: block;
    }
}
.content-img__main {
    position: absolute;
    width: 655px;
    bottom: 0;
    left: 0;
    padding: 8px 10px 25px 10px;
    line-height: 1.1em;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    background: rgba(0,0,0,0.6);
    text-shadow: #030303 0px 1px 0px;
    a {
        position: relative;
        top: -5px;
        color: #fff;
        font: normal 12px Tahoma, Arial, sans-serif;
        text-decoration: none;
        background: #78838f;
        padding: 3px 9px 4px 9px;
        @include border-radius(3px);
    }
}
.content-img__info {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 220px;
    padding: 10px;
    font-size: 11px;
    background: rgba(0,0,0,.6);
    opacity: 0;
    @include transition(all, 1s, ease-in-out);
}
.content-img__descr {
    display: block;
    color: #b5bfcb;
    border-bottom: 1px solid;
}
.content-img__author {
    display: block;
    color: #fff;
    span {
        text-transform: uppercase;
    }
}
.meta {
    margin-bottom: 5px;
    padding: 15px 0 5px;
    font-size: 12px;
    color: #565d66;
    border-bottom: 1px solid #989898;
    font-family: Tahoma, Arial, sans-serif;
}
.meta__author {
    color: #565d66;
    text-decoration: none;
    font-size: 14px;
    padding-right: 5px;
    font-weight: bold;
}
.meta__date {
    color: #565d66;
    text-decoration: underline;
}
.breadcrumbs {
    margin-bottom: 5px;
    a {
        color: #565d66;
        text-decoration: none;
    }
    span {
        padding: 0 1px;
    }
    .active {
        font-weight: bold;
        color: #000;
    }
}
.content-info {
    margin: 0px 0px 2px -10px;
    padding: 5px 0px 11px 20px;
    font-size: 16px;
    background: #f5f5f5;
}
.to-home {
    margin: 25px 0 15px;
    text-align: right;
    .icon {
        margin-right: 4px;
    }
    a {
        font-size: 16px;
        color: #565d66;
    }
}
.sidebar-title {
    margin-bottom: 45px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #576069;
    font-family: Tahoma, Arial,sans-serif;
    @include background-image(linear-gradient(top, #fff 75%, #ebebeb 100%));
}
.bloger {
    margin-bottom: 60px;
    color: #fff;
    a {
        text-decoration: none;
    }
}
.bloger__name {
    position: relative;
    margin-left: 50px;
    padding: 4px 0 5px 50px;
    line-height: 1.1em;
    font-size: 14px;
    background: #565D66;
    a {
        color: #fff;
    }
    strong {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
    }
    img {
        position: absolute;
        left: -50px;
        bottom: 0;
    }
}
.bloger__spec {
    display: block;
    padding: 2px 10px 3px 10px;
    font-size: 11px;
    background: #78838f;
}
.bloger__title {
    padding: 7px 0px 5px 3px;
    a {
        font-size: 16px;
        line-height: 1.1em;
        color: #1a5ca7;
    }
}
.bloger__text {
    padding: 7px 12px 12px;
    background: #f5f5f5;
    a {
        color: #565d66;
        font-size: 12px;
    }
    span {
        color: #f00;
        font-weight: bold;
    }
}

.related {
    overflow: hidden;
    margin: 15px 0 0  -10px;
    font-size: 12px;
    border-top: 1px solid #989898;
    @include box-shadow(0 8px 15px -10px #989898);
}
.related__title {
    float: left;
    padding: 10px;
    width: 160px;
    strong {
        color: #e40000;
        font-size: 16px;
        font-weight: bold;
    }
    a {
        color: #40454c;
        font-weight: bold;
        text-decoration: none;
    }
}
.related__main {
    overflow: hidden;
    float: right;
    width: 483px;
    padding: 10px;
    background: #f5f5f5;
    ul {
        float: left;
        margin-right: 10px;
        width: 150px;
    }
    li {
        margin-bottom: 11px;
    }
    a {
        color: #000;
        text-decoration: none;
    }
    span {
        color: #78838f;
    }

}

.actual-news {
    margin-bottom: 15px;
    color: #fff;
    img {
        display: block;
    }
}
.actual-news__img {
    position: relative;
    display: block;
    color: #fff;
}
.actual-news__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px 8px;
    font-size: 18px;
    line-height: 1.2em;
    background: rgba(0,0,0,0.5);
}
.actual-news__descr {
    padding: 3px 10px 12px;
    font-size: 14px;
    border-top: 1px solid #6f7175;
    color: #fff;
    background: #40454c;
    span {
        padding-right: 3px;
        color: #ffb421;
    }
}

.video-scroller {
    position: relative;
    margin-bottom: 20px;
    background: #40454c;
    @include box-shadow(inset 0 6px 15px -5px rgba(0, 0, 0, 0.8));
    .video {
        float: left;
        padding: 20px 15px 20px 10px;
        margin-bottom: 0;
        background: #565d66;
        
    }
}
.video-bar__wrap {
    position: relative;
    overflow: hidden;
    height: 293px;
    ul {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.media-label {
    position: absolute;
    z-index: 2;
    top: -16px;
    left: 0;
    padding: 0 10px;
    height: 33px;
    color: #fff;
    font: bold 21px/33px Tahoma,Arial,sans-serif;
    text-transform: uppercase;
    background: #da0800;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.video-scroller__title {
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    font: bold 18px Tahoma,Arial,sans-serif;
    text-decoration: none;
}
.video-bar {
    position: relative;
    float: right;
    padding: 19px 10px 40px;
    width: 210px;
    background: none;
    ul {
        height: 100%;
    }
    li { 
        overflow: hidden;
        margin-bottom: 20px;
    }
    a {
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        overflow: hidden;
    }
    img {
        float: left;
        margin: 0 5px 5px 0;
        border: 1px solid #aab0b7;
    }
    .other__scrolldown {
        width: 170px;
    }
}
.video-bar__title {
    font-size: 18px;
    font-weight: normal;
    color: #ffb421;
    text-align: center;
    padding-bottom: 8px;
}

.comment {
    font-size: 14px;
    line-height: 1.2;
    li {
        padding: 15px 0 20px;
        border-bottom: 1px solid #d0d0d0;
    }
}
.comment_media {
    background: #40454c;
    li {
        padding-left: 25px;
        border-bottom: 1px solid #78838f;
    }
    .comment__info {
        .no-reg {
            color: #fff;
            font-weight: bold;
        }
    }
    .comment__author-status {
        span {
            color: #b5bfcb;
        }
    }
    .comment__author {
        color: #fff;
        font-weight: bold;
    }
}
.comment__user-img {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    @include box-shadow(-2px 2px 3px #cfcfcf);
}
.comment__body {
    margin-left: 60px;
}
.comment__info {
    float: left;
    .no-reg {
        color: #000;
        cursor: default;
    }
}
.comment__author {
    color: #1a5ca7;
    font-size: 16px;
    text-decoration: none;
}
.comment__date {
    display: block;
    font-size: 11px;
    color: #989898;
}
.comment__meta {
    float: right;
    text-align: right;
    padding: 0 10px 10px 0;
    &:hover {
        .tooltip {
            display: block;
        }
    }
}
.comment__author-status {
    position: relative;
    * {
        vertical-align: middle;
    }
    span {
        display: block;
        font-size: 12px;
        color: #78838f;
    }
    strong {
        color: #a1a1a1;
        font-size: 11px;
        text-decoration: underline;
        font-weight: normal;
    }
}
.tooltip {
    display: none;
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 40px;
    padding: 13px 8px 10px 20px;
    width: 495px;
    font-size: 12px;
    color: #565d66;
    line-height: 1.2;
    border: 1px solid #ccc9c2;
    background: #f5f2e9;
    text-align: left;
    @include border-radius(5px);
    @include box-shadow(0px 0px 13px 0px #aaa9a9);
    p {
        margin: 10px;
    }
    strong {
        display: block;
        margin: 5px 0; 
        font-size: 16px;
        color: #1a5ca7;
    }
    &:before {
        content: "";
        position: absolute;
        top: -7px;
        right: 10px;
        @include sized-sprite($icons, arr7);
    }
    .reg {
        font-size: 12px;
        color: #1a5ca7;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.comment__text {
    clear: both;
    position: relative;
    top: -10px;
    
}
.comment__bottom {
    overflow: hidden;
    .btn-gray {
        float: left;
    }
    .fake {
        float: right;
        margin-right: 10px;
        @include sized-sprite($icons, fake);
    }
}
.btn-gray {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    height: 20px;
    color: #565d66;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #c8cbcd;
    @include border-radius(5px);
    @include background-image(linear-gradient(top, #fff 30%, #dfdfdf 100%));
    &:hover {
       @include background-image(linear-gradient(top, #dfdfdf 0%, #fff 50%));
    }
}
.add-comment {
    border: 1px solid #dadada;
    padding: 9px 18px 25px 20px;
    position: relative;
    margin-bottom: 20px;
    @include background-image(linear-gradient(top, #fff, #f5f5f5));
    textarea {
        margin-bottom: 10px;
        width: 612px;
    }
    .char-counter {
        float: left;
        padding-top: 7px;
    }
    .btn-gray {
        float: right;
        height: 30px;
        width: 180px;
        font-size: 16px;
    }
}
.add-comment__title {
    position: relative;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 12px;
    font-size: 18px;
    color: #40454c;
    border-bottom: 1px solid #bbc0c6;
    .wtf {
        position: absolute;
        right: 0;
        top: 0;
        padding-bottom: 20px;
        cursor: pointer;
        font-size: 12px;
        color: #40454c;
        text-decoration: underline;
        &:hover {
            .tooltip {
               display: block; 
            }
        }
        span, i {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            color: #40454c;
        }
        span {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        i {
            margin-right: 10px;
            @include sized-sprite($icons, wtf);
        }
        .tooltip {
            top: 30px;
            font-weight: normal;
        }
    }
}
.add-comment__head {
    overflow: hidden;
    margin-bottom: 12px;
    div {
        overflow: hidden;
    }
    .input-text {
        float: left;
        input {
            overflow: hidden;
            padding: 1px 9px;
        }
        span {
            display: block;
        }
    }
}
.add-comment__user {
    float: left;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    overflow: hidden;
    @include border-radius(5px);
}
.add-comment__soc {
    float: right;
    span {
        float: left;
        margin-right: 10px;
        width: 110px;
        font-size: 12px;
        color: #78838f;
        vertical-align: middle;
    }
    .soc {
        margin-top: 6px;
    }
}
.char-counter {
    color: #78838f;
    font-size: 12px;
    span {
        color: #197b30;
    }
}
.add-comment_media {
    background: #40454c;
    border: 0;
    .add-comment__title {
        color: #ffb421;
    }
    .wtf {
        span {
            color: #fff;
        }
        
    }
    .char-counter {
        color: #fff;
        span {
            color: #25ba48;
        }
    }
}
.btn-gray_big {
    margin-bottom: 30px;
    width: 100%;
    height: 35px;
}

.prof {
    overflow: hidden;
}
.prof__left {
    float: left;
    margin-right: 20px;
    padding: 12px 0 20px;
    width: 175px;
    background: #e8e9ec;
    border: 1px solid #b2b5b9;
    @include box-shadow(inset -7px 0 9px -4px rgba(0,0,0,0.2));
}
.prof__right {
    overflow: hidden;
}
.prof__head {
    text-align: center;
}
.prof__img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 5px solid #fff;
}
.prof__rate {
    display: inline-block;
    margin-bottom: 12px;
    padding: 2px 8px 0;
    background: #fff;
    i {
        display: inline-block;
    } 
    .positive {
        @include sized-sprite($icons, rate-pos);
    }
    .negative {
        @include sized-sprite($icons, rate-neg);
    }
    span {
        color: #6d8e02;
        vertical-align: middle;
    }
}
.prof__name {
    display: block;
    padding: 0 14px;
    font-size: 14px;
    color: #2e1a00;
    margin-bottom: 13px;
}
.prof__nav {
    li {
        border-top: 1px solid #fff;
        &:first-child {
            border-top: 0;
        }
    }
    a {
        display: block;
        padding: 9px 14px;
        color: #566069;
        font-weight: bold;
        text-decoration: none;
    }
}
.link-to-blog {
    height: 31px;
    line-height: 31px;
    text-align: center;
    background: #dadde0;
    border: 1px solid #b6b6b6;
    @include box-shadow(inset 0 -4px 7px -2px rgba(0,0,0,.2));
    a {
        border-bottom: 1px dashed;
        text-decoration: none;
    }
}
.wall {
    li {
        position: relative;
        margin-top: -1px;
        padding: 10px 16px 12px;
        border: 1px solid #b6b6b6;
        .corner {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            @include sized-sprite($icons, corner2);
        }
    }
    a {
        color: #195ca7;
        text-decoration: none;
    }
    p {
        margin-bottom: 10px;
    }
}
.wall__meta {
    color: #3d3d3d;
    margin-bottom: 5px;
    i {
        color: #aaa2a2;
        font-size: 12px;
    }
}
.wall__user {
    display: inline-block;
    i {
        display: inline-block;
        margin-right: 5px;
        vertical-align: bottom;
        @include sized-sprite($icons, user2);
    }
}
.wall__title {
    font-size: 16px;
    margin-bottom: 10px;
}
.wall__footer {
    overflow: hidden;
}
.wall__com {
    float: left;
    font-size: 11px;
    text-decoration: none;
    i {
        display: inline-block;
        vertical-align: baseline;
        @include sized-sprite($icons, comment);
    }
    span {
        color: #000;
    }
}
.wall__opt {
    font-size: 10px;
    float: right;
    i, span {
        margin-right: 5px;
        vertical-align: middle;
        display: inline-block;
    }
    a {
        margin-right: 5px;
    }
    .plus {
        color: #7b970f;
        i {
            @include sized-sprite($icons, plus);
        }
    }
    .minus {
        color: #ca1b25;
        i {
            @include sized-sprite($icons, minus);
        }
    }
    .favorite {
        color: #195ca7;
        i {
            @include sized-sprite($icons, favorite);
        }
    }
}

.columnist {
    overflow: hidden;
    background: #F5F2E9;
}
.columnist__img {
    float: left;
    margin-right: 20px;
    border: 8px solid #E5E2DA;
}
.columnist__main {
    overflow: hidden;
    font-size: 14px;
}
.columnist__title {
    font-size: 35px;
}
.title-l-2_tabs {
    a {
        color: #40454c;
        font-size: 16px;
        font-weight: normal;
        text-decoration: none;
        &:before {
            content: "|";
            margin-right: 10px;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
    }
    .is-active {
        font-size: 24px;
        color: #000;
        font-weight: bold;
    }
    + .article {
        border-top: 0;
    }
}
.wrapper_bloger {
    padding-top: 40px;
}
.bloger_small {
    float: left;
    width: 330px;
    margin-right: 15px;
}
.title-l-1_mod {
    span {
        margin-top: 0;
    }
}
.video-scroller {
    .video_mod {
        width: 420px;
        padding: 0 0 10px;
        background: none;
        .video__descr {
            padding: 3px 10px 6px 10px;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .other {
        width: 235px;
        margin-bottom: 0;
        overflow: hidden;
        background: #565D66;
    }
}
.paper-bar {
    padding-bottom: 10px;
    img {
        margin-bottom: 10px;
    }
}
.paper-bar__link {
    img {
        border: 0;
    }
}

.video__info {
    padding: 0 10px;
    font-size: 18px;
    color: #fff;
    span {
        color: #ffb421;
        font-size: 12px;
    }
}
.archive-item {
    .archive-item__btn {
        color: #fff;
    }
    img {
        margin-bottom: 10px;
    }
}
.archive-item__btn {
    display: block;
    @include border-radius(5px);
    border: 1px solid #70c748;
    font-size: 18px;
    font-weight: bold;
    padding: 0 13px;
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #20421a;
    white-space: nowrap;
    background: #77c82a;
    @include box-shadow(0px 1px 0px 0px #78ca2b);
    @include background-image(linear-gradient(bottom, #249100 5%, #77c82a 100% ));
    &:hover {
       @include background-image(linear-gradient(top, #249100 5%, #77c82a 100% )); 
    }
}

.quiz-promo {
    overflow: hidden;
    margin: 24px 0 18px;
    color: #fff;
    font-size: 16px;
    background: #565D66;
    img {
        float: left;
        margin-right: 20px;
    }
}
.quiz-promo__text {
    padding: 10px;
}
.quiz {
    img {
        float: left;
        border: 1px solid #989898;
    }
}
.quiz {
    font-size: 18px;
}
.quiz__top {
    overflow: hidden;
    margin-bottom: 5px;
    padding-top: 20px;
    img {
        float: left;
        margin-right: 20px;
    }
}
.quiz__text {
    overflow: hidden;
    color: #565d66;
}
.quiz__counter {
    color: #000;
    strong {
        color: #e50b00;
    }
}
.quiz__bottom {
    padding: 15px 10px 10px;
    margin-bottom: 25px;
    background: #f5f5f5;
    div {
        margin-bottom: 10px;
    }
    label {
        font-size: 16px;
    }
    input {
        margin-right: 10px;
    }
}
.quiz__next {
    border-top: 1px solid #989898;
    padding-top: 10px;
    text-align: center;
}
.quiz__next-btn {
    display: inline-block;
    padding: 0 20px;
    height: 38px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #71c748;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    @include border-radius(7px);
    background: #319701;
    @include background-image(linear-gradient(top, #d8ec62, #319701 20%));
    &:hover {
        background: #319701;
    }
}